from type import *
{% macro render_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
{% endmacro %}

{%- macro render_textarea(name, cls, value='', height="610px", width="200px") -%}
<textarea class="{{ cls }}" name="{{ name }}" style='width:610px; height: 200px;'>{{ value|safe }}</textarea>
{%- endmacro %}

{% macro render_input(field, cls='', value='', style='', placeholder='', nolabel=False, extra='', labelAfter=False) %}
<div class='clearfix {% if field.errors %}error{% endif %}'>
    {% if not nolabel and not labelAfter%}
      {{ field.label }}
    {% endif %}
    <div class='input'>
        {% if field.errors %}
          {{ field(class_=cls~' error') }}
        {% else %}
          {% if value %}
            {% if placeholder %}
              {{ field(class_=cls,value=value, style=style, placeholder=placeholder) }}
            {% else %}
              {{ field(class_=cls,value=value, style=style ) }}
            {% endif %}
          {% else %}
            {{ field(class_=cls,style=style ) }}
          {% endif %}
        {% endif %}
        {% if extra == 'time' %}
        <i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% elif extra == 'calendar' %}
        <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% endif %}
    {% if labelAfter%}
      {{ field.label }}
    {% endif %}
        <span class="help-inline">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endmacro %}


{% macro render_action(field) %}
    <div class='actions'>
        {{ field(class_='btn btn-primary') }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='{{ url_for("frontend.index") }}'>{{ _('Cancelar') }}</a>
    </div>
{% endmacro %}

{% macro render_tasklist(objects, class='', headers='', fields='', delete='', no_set_delete=False, actions='', current_user='') %}

{% if objects|length >0 %}
            {% if fields == '' %}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = fields %}
            {% endif %}
<div class='tasklist table {{ class }}'>
    <ul type=none style="margin-left:0;">
        {% for object in objects %}
        <li class="task droppable sortable" id="task_{{object.id}}" style="min-height:15px;">
        <div class="taskdiv" style="min-height:25px;border-top-style:solid;border-width:1px;border-color:#ccc;padding-top:5px;padding-bottom:2px;">

            <div class="actions pull-right" style="display:inline-block;">
            {% for action in actions %}
            <div class="actions clearfix" style='width:18px;display:inline-block;'><span onClick="return _action($(this));" href="{{action[1]}}/{{object.id}}" title="{{action[0]}}">
                    <i onClick="return _action($(this).parent());" class="{{action[2]}}"></i></span></div>
            {% endfor %}
            </div>
            {% for j in f %}
            {% if j != "_sa_instance_state" and j != "_labels" %}
            {% if delete == '' %}
                {% if object[j] is not is_list %}
                {% if j == 'id' %}
                <div class="taskid" style="display:none">{{ object[j] }}</div>
                {% elif j == 'sender' %}
                 <div class="sender pull-right" style='display:inline-block;margin-right:5px;'>
                {% if object.sender != current_user%}
                    <span class="sender_label label draggable">{{ object.sender.username }}</span>
                {% endif %}
                </div>
                {% elif j == 'email' %}
                <div style='display:inline-block;'><a href='mailto:{{ object[j] }}'>{{ object[j] }}</a></div>
                 {% else %}
                {% if object.done == True %}
                 <div style="display:inline-block;text-decoration:line-through">{{ object[j] }}</div>
                {% elif j == 'name' %}
                 <div class="taskname" style='display:inline-block;font-weight:bold;'>{{ object[j] }}</div>
                 {% else %}
                 <div style='display:inline-block;'>{{ object[j] }}</div>
                {% endif %}
                {% endif %}
                 {% else %}
                 {% if j == 'projects'%}
                 <div class="proj_label pull-right" style="min-width:25%;display:inline-block;">
                    {% for proj in object[j] %}
                    <span class="proj_label label label-info draggable clearfix" >{{ proj.name }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {% if j == 'props' %}
                <div style='display:inline-block; margin-right:20px;' class="pull-right"><span class="badge badge-inverse">{{ object.get_props() }}</span></div>
                {% else %}
                 <div style='display:inline-block;'>{{ object[j]|length }}</div>
                {% endif %}
                {% endif %}
                {% endif %}
                 {% else %}
                 <div style='display:inline-block;'><a href="#">{{ object[j] }}</a></div>
                 {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{% macro render_table(objects, class='', headers='', fields='', delete='', no_set_delete=False, actions='') %}

{% if objects|length >0 %}
<table class='table {{ class }}'>
    <thead>
        <tr>
            {% if fields == '' %}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = fields %}
            {% endif %}

            {% for i in f %}
            {% if i != "_sa_instance_state" and i != "_labels" %}
    {% if headers != '' %}
            <th>{{ i }}</th>
    {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>
            {% for j in f %}
            {% if j != "_sa_instance_state" and j != "_labels" %}
            {% if delete == '' %}
                {% if j == 'email' %}
                <td><a href='mailto:{{ object[j] }}'>{{ object[j] }}</a></td>
                {% elif j == 'email' %}
                <td><a href='{{ object[j] }}'>{{ object[j] }}</a></td>
                 {% else %}
                {% if object[j] is not is_list %}
                 <td>{{ object[j] }}</td>
                 {% else %}
                 <td>{{ object[j]|length }}</td>
                {% endif %}
                {% endif %}
                 {% else %}
                 <td><a href="#">{{ object[j] }}</a></td>
                 {% endif %}
            {% endif %}
            {% endfor %}
                {% if delete != '' %}
                 <td><a href="del/{% for j in delete %}{% if loop.index0 == 0 %}{{object[j[1]]}}?{% else %}{{j[0]}}={{object[j[1]]}}&{%endif%}{% endfor %}">
                <i class="icon-remove"></i></a></td>
                 {% else %}
            {% for action in actions %}
            <td style='width:18px;'><a href="{{action[1]}}/{{object.id}}" title="{{action[0]}}">
                    <i class="{{action[2]}}"></i></a></td>
            {% endfor %}
                 {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endmacro %}

{% macro render_old(users, class='') %}
                {% if delete == '' %}
                    {% if not no_set_delete %}
                    <td><a href="set/{{object.id}}" title="Asignar">
                    <i class="icon-hand-right"></i></a></td>
                    <td><a href="view/{{object.id}}">
                    <i class="icon-eye-open" title="Ver"></i></a></td>
                    <td><a href="edit/{{object.id}}">
                    <i class="icon-pencil" title="Editar"></i></a></td>
                    <td><a href="clone/{{object.id}}">
                    <i class="icon-share-alt" title="Clonar"></i></a></td>
                    {% endif %}
                <td><a href="del/{{object.id}}" title="Borrar">
                <i class="icon-trash"></i></a></td>
                 {% else %}
                 <td><a href="del/{% for j in delete %}{% if loop.index0 == 0 %}{{object[j[1]]}}?{% else %}{{j[0]}}={{object[j[1]]}}&{%endif%}{% endfor %}">
                <i class="icon-remove"></i></a></td>
                 {% endif %}
{% endmacro %}

{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.pub', name=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div id='flash_message_container'>
                {% for category, msg in messages %}
                    <div class="alert alert-{{ category }}" data-alert>
                      <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ msg }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
