from type import *
{% macro render_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
{% endmacro %}

{%- macro render_textarea(name, cls, value='', height="610px", width="200px") -%}
<textarea class="{{ cls }}" name="{{ name }}" style='width:610px; height: 200px;'>{{ value|safe }}</textarea>
{%- endmacro %}

{% macro render_input(field, cls='', value='', style='', placeholder='', nolabel=False, extra='', labelAfter=False) %}
<div class='clearfix {% if field.errors %}error{% endif %}'>
    {% if not nolabel and not labelAfter%}
      {{ field.label }}
    {% endif %}
    <div class='input'>
        {% if field.errors %}
          {{ field(class_=cls~' error') }}
        {% else %}
          {% if value %}
            {% if placeholder %}
              {{ field(class_=cls,value=value, style=style, placeholder=placeholder) }}
            {% else %}
              {{ field(class_=cls,value=value, style=style ) }}
            {% endif %}
          {% else %}
            {{ field(class_=cls,style=style ) }}
          {% endif %}
        {% endif %}
        {% if extra == 'time' %}
        <i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% elif extra == 'calendar' %}
        <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% endif %}
    {% if labelAfter%}
      {{ field.label }}
    {% endif %}
        <span class="help-inline">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endmacro %}


{% macro render_action(field, nocancel='') %}
    <div class='actions'>
{% if nocancel != '' %}
        {{ field(class_='btn btn-primary') }}
    {% else %}
        {{ field(class_='btn btn-primary') }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='{{ url_for("frontend.index") }}'>{{ _('Cancel') }}</a>
{% endif %}
    </div>
{% endmacro %}

{% macro render_tasklist(objects, class='', headers='', fields='', delete='', no_set_delete=False, actions='', current_user='', projectname='') %}

{% if objects|length >0 %}
            {% if fields == '' %}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = fields %}
            {% endif %}
<div class='table table-hover {{ class }}'>
    <ul type=none style="margin-left:0;" class="{{class}} sortable">
        {% for object in objects %}
        {% if object.done == True %}
        <li class="task droppable taskdone {{ class }}" id="task_{{object.id}}">
        {% else %}
        <li class="task droppable {{ class }}" id="task_{{object.id}}">
        {% endif %}
        <div class="taskdiv {{ class }}" >

            {% if (object.owner == current_user) or class=="timeline" %}
            <div class="actions pull-right btn-group {{ class }}">
            {% else %}
            <div class="actions pull-right disabled btn-group {{ class }}" >
            {% endif %}
            {% for action in actions %}
            {% if (action[2] == 'icon-play') and object['begin']!=None and not object['done'] %}
            <div class="action clearfix btn disabled {{ class }}" ><span type="button" >
                    <i class="icon-play {{ class }}"></i>
            </span></div>
            {% elif (action[2] == 'icon-thumbs-up') or (object.owner == current_user and  not (action[2] in ['icon-ok', 'icon-play', 'icon-share-alt'] and object['finished']!=None) ) %}
            <div class="action clearfix btn  {{ class }}" ><span onClick="return _action($(this));" type="button" href="{{action[1]}}/{{object.id}}" title="{{action[0]}}">
                    <i class="{{action[2]}} {{ class }}"></i>
            </span></div>
            {% else %}
            <div class="action clearfix btn disabled {{ class }}" ><span type="button">
                    <i class="{{action[2]}} disabled {{ class }}"></i>
            </span></div>
            {% endif %}
            {% endfor %}
            </div>


            {% for j in f %}
            {% if j != "_sa_instance_state" and j != "_labels" %}
                {% if object[j] is not is_list %}
                    {% if j == 'id' %}
                    <div class="taskid {{ class }}">{{ object[j] }}</div>
                    {% elif j == 'description' and object[j]  %}
                   <div class="taskdescription {{class}}">{{ object[j] }}</div>
                    {% elif j == 'owner' %}
                      <div class="owner owner_label {{ class }}">
                        {% if object.owner != current_user and class == 'timeline'%}
                        <a class="owner_label {{ class }}" href="/user/{{object.owner.username}}">{{ object.owner.username }}</a>
                        {% elif object.owner != current_user and class == 'tasklist'%}
                        <a href="/user/{{object.owner.username}}" class="owner_label label launchtooltip {{ class }}" rel="tooltip" data-placement="top" data-original-title="This user owns the task">{{ object.owner.username }}</a>
                        {% if object.sender == current_user and object.done %}
                        <span class="badge {{class}} launchtooltip"  rel="tooltip" data-placement="top" data-content="Points earned by the owner" data-original-title="Points earned by the owner" data-trigger="hover">{{object.earned_points}}</span>
                        {% endif %}

                        {% elif class == 'timeline' %}
                        <span class="owner_label {{ class }}">{{ object.owner.username }}</span>
                        {% endif %}
                    </div>
                    {% elif j == 'earned_points' and (object.done or (object.owner != current_user and class=="tasklist")) %}
                    {% set badges = "badge badge-points" %}
                    <div class="pull-right points {{class}}"> 
                            {% if object.owner != current_user and object.sender==current_user %}
                            {% else %}
                        <span class="{{badges}} {{class}}"  rel="popover" data-placement="top" data-content="{{object.get_propped_users()}}" data-original-title="Props" data-trigger="hover">
                            +{{ object.earned_points }}</span>
                            {% endif %}
                    
                    </div>
                    {% elif j =='earned_points' %}
                    {% elif j == 'sender' %}
                     <div class="sender sender_label {{ class }}">
                        {% if object.sender != current_user%}
                        <a href="/user/{{object.sender.username}}" class="sender_label label-inverse label draggable launchtooltip {{ class }}" rel="tooltip" data-placement="top" data-original-title="This user sent you the task">{{ object.sender.username }}</a>
                        {% endif %}
                    </div>
                    {% elif j == 'created_at' %}
                        {% if object['finished'] != None %}
                        <div class="timestamp pull-right finished {{ class }}">
                        Finished
                        {% set j = 'finished' %}
                        {% elif object['begin'] != None %}
                        <div class="timestamp pull-right started {{ class }}">
                        Started 
                        {% set j = 'begin' %}
                        {% else %}
                        <div class="timestamp pull-right added {{ class }}">
                        Added 
                        {% endif %}
                    <abbr class="timeago timestamp {{ class }}" title={{ object[j].isoformat() }}Z> </abbr>
                    </div>
                    {% elif j == 'email' %}
                    <div class="{{ class }} field" style='display:inline-block;'><a href='mailto:{{ object[j] }}'>{{ object[j] }}</a></div>
                    {% else %}
                        {% if j == 'name' %}
                            {% if object.done == True %}
                            <div class="taskname done {{class}}">{{ object[j] }}</div>
                            {% elif object.owner != current_user%}
                            <div class="taskname notowner {{class}}">{{ object[j] }}</div>
                            {% else %}
                            <div class="taskname owner undone {{class}}">{{ object[j] }}</div>
                            {% endif %}
                        {% else %}
                            
                        {% if object[j] != None%}
                        <div class="{{class}} field"style='display:inline-block;'>{{ object[j] }}</div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if j == 'projects'%}
                    {% if class == 'timeline'%}
                    <div class="proj_labels pull-right {{class}}">
                    {% else %}
                    <div class="proj_labels {{class}}">
                    {% endif %}
                        {% set proj_label = 'proj_label'%}
                        {% if object.owner == current_user %}
                        {% for proj in object[j] %}
                        {% set proj_label = 'proj_label'%}
                        {% if projectname == proj.name %}
                        {% set proj_label = proj_label+' this_project'%}
                        {% endif %}
                        {% if proj.owner == current_user %}
                        <span class="{{proj_label}} owned label label-info draggable clearfix {{class}}" >{{ proj.name }}<a class="label label-info close">&times;</a></span>
                        {% else %}
                        <span class="{{proj_label}} owned others label clearfix {{class}}" >{{ proj.name }}</span>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for proj in object.getProjs(current_user) %}
                        {% if projectname == proj.name %}
                        {% set proj_label = proj_label+' this_project'%}
                        {% endif %}
                        {% if class == 'timeline' %}
                        <span class="{{proj_label}} others label pull-right {{class}}" >{{ proj.name }}</span>
                        {% else %}
                        <span class="{{proj_label}} label {{class}}" >{{ proj.name }}<a class="label label-info close">&times;</a></span>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                    {% elif j == 'props' %}
                    <div class="pull-right props {{class}}"> 
                        {% set badge = 'badge-inverse' %}
                        {% if  object.get_props() > 0 %}
                        {% set prop_placement = 'top' %}
                        {% set badge = 'badge-success' %}
                        {% if class == 'timeline' %}
                        {% set prop_placement = 'left' %}
                        {% endif %}
                        <span class="badge {{badge}} {{class}} launchpopover"  rel="popover" data-placement="{{prop_placement}}" data-content="{{object.get_propped_users()}}" data-original-title="Props" data-trigger="hover">
                            {% else %}
                            <span class="badge {{badge}} {{class}}">
                            {% endif %}
                            {% if (not object.done) and (object.owner != current_user )  %}
                                <span onClick="return _action($(this));" type="button" href="prop/{{object.id}}" title="Prop" style="cursor:pointer;">
                    <i class="icon-thumbs-up icon-white {{ class }}"></i>
            </span>
                    {% endif %}
                    {{ object.get_props() }}
                     {% if (not object.done) and (object.owner != current_user )  and (current_user.username in object.get_propped_usernames() ) %}
                                <span onClick="return _action($(this));" type="button" href="unprop/{{object.id}}" title="Unprop" style="cursor:pointer;">
                    <i class="icon-thumbs-down icon-white {{ class }}"></i>
            </span>
                    {% endif %}
            
            </span></div>
                    {% else %}
                    <div  class="{{class}} field" style='display:inline-block;'>{{ object[j]|length }}</div>
                    {% endif %}
                {% endif %}
                 {% else %}
                 <div class="{{class}} field" style='display:inline-block;'><a href="#">{{ object[j] }}</a></div>
                 {% endif %}
            {% endfor %}
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}


{% macro render_userlist(objects, class='',  usersfields='', usersactions='', current_user='', projectname='') %}

{% if objects|length >0 %}
            {% if usersfields == '' %}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = usersfields %}
            {% endif %}
<div class='table table-hover {{ class }}'>
    <ul type=none style="margin-left:0;" class="{{class}} sortable">
        {% for object in objects %}
        <li class="user droppable {{ class }}" id="user_{{object.id}}">
        <div class="userdiv {{ class }}" >

            <div class="actions pull-right btn-group {{ class }}">
                {% for action in usersactions %}
                {% if ('unfollow' in action[2] and object not in current_user.following)
                or ('unfollow' not in action[2] and object in current_user.following)
                or (current_user == object)
                %}
            <div class="action clearfix btn disabled {{ class }}" ><span type="button" title="{{action[0]}}">
                    <i class="{{action[2]}} disabled {{ class }}"></i>
            </span></div>
            {% else %}
            <div class="action clearfix btn  {{ class }}" ><span onClick="return _action($(this));" type="button" href="/user/{{action[1]}}/{{object.id}}" title="{{action[0]}}">
                    <i class="{{action[2]}} {{ class }}"></i>
            </span></div>
            {% endif %}
            {% endfor %}
            </div>
            {% for j in f %}
            {% if j != "_sa_instance_state" and j != "_labels" %}
                {% if object[j] is not is_list %}
                    {% if j == 'id' %}
                    <div class="userid {{ class }}">{{ object[j] }}</div>
                    {% elif j == 'email' %}
                    <div class="{{ class }} field email" style='display:inline-block;'><a href='mailto:{{ object[j] }}'>{{ object[j] }}</a></div>
                    {% elif j == 'points' %}
                            <div class="points badge badge-points {{class}}">{{ object[j] }}</div>
                    {% elif j == 'username' %}
                    <div class="username {{class}}"><a href="/user/{{ object[j] }}">{{ object[j] }}</a></div>
                    {% elif object[j] != None%}
                        <div class="{{class}} field"style='display:inline-block;'>{{ object[j] }}</div>
                    {% endif %}
                {% else %}
                    {% if j == 'projects'%}
                    <div class="proj_labels  {{class}}">
                        {% set proj_label = 'proj_label'%}
                        {% for proj in current_user.getProjs(object) %}
                        <span class="{{proj_label}} owned label label-info draggable clearfix {{class}}" >{{ proj.name }}<a class="label label-info close">&times;</a></span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div  class="{{class}} field" style='display:inline-block;'>{{ object[j]|length }}</div>
                    {% endif %}
                {% endif %}
                 {% else %}
                 <div class="{{class}} field" style='display:inline-block;'><a href="#">{{ object[j] }}</a></div>
                 {% endif %}
            {% endfor %}
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}


{% macro render_table(objects, class='', headers='', fields='', delete='', no_set_delete=False, actions='') %}

{% if objects|length >0 %}
<table class='table {{ class }}'>
    <thead>
        <tr>
            {% if fields == '' %}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = fields %}
            {% endif %}

            {% for i in f %}
            {% if i != "_sa_instance_state" and i != "_labels" %}
    {% if headers != '' %}
            <th>{{ i }}</th>
    {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>
            {% for j in f %}
            {% if j != "_sa_instance_state" and j != "_labels" %}
            {% if delete == '' %}
                {% if j == 'email' %}
                <td><a href='mailto:{{ object[j] }}'>{{ object[j] }}</a></td>
                {% elif j == 'email' %}
                <td><a href='{{ object[j] }}'>{{ object[j] }}</a></td>
                 {% else %}
                {% if object[j] is not is_list %}
                 <td>{{ object[j] }}</td>
                 {% else %}
                 <td>{{ object[j]|length }}</td>
                {% endif %}
                {% endif %}
                 {% else %}
                 <td><a href="#">{{ object[j] }}</a></td>
                 {% endif %}
            {% endif %}
            {% endfor %}
                {% if delete != '' %}
                 <td><a href="del/{% for j in delete %}{% if loop.index0 == 0 %}{{object[j[1]]}}?{% else %}{{j[0]}}={{object[j[1]]}}&{%endif%}{% endfor %}">
                <i class="icon-remove"></i></a></td>
                 {% else %}
            {% for action in actions %}
            <td style='width:18px;'><a href="{{action[1]}}/{{object.id}}" title="{{action[0]}}">
                    <i class="{{action[2]}}"></i></a></td>
            {% endfor %}
                 {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endmacro %}

{% macro render_old(users, class='') %}
                {% if delete == '' %}
                    {% if not no_set_delete %}
                    <td><a href="set/{{object.id}}" title="Asignar">
                    <i class="icon-hand-right"></i></a></td>
                    <td><a href="view/{{object.id}}">
                    <i class="icon-eye-open" title="Ver"></i></a></td>
                    <td><a href="edit/{{object.id}}">
                    <i class="icon-pencil" title="Editar"></i></a></td>
                    <td><a href="clone/{{object.id}}">
                    <i class="icon-share-alt" title="Clonar"></i></a></td>
                    {% endif %}
                <td><a href="del/{{object.id}}" title="Borrar">
                <i class="icon-trash"></i></a></td>
                 {% else %}
                 <td><a href="del/{% for j in delete %}{% if loop.index0 == 0 %}{{object[j[1]]}}?{% else %}{{j[0]}}={{object[j[1]]}}&{%endif%}{% endfor %}">
                <i class="icon-remove"></i></a></td>
                 {% endif %}
{% endmacro %}

{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.pub', name=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div id='flash_message_container'>
                {% for category, msg in messages %}
                    <div class="alert alert-{{ category }}" data-alert>
                      <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ msg }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
