syntax: glob

*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.orig
*.cfg
*.tox

# Ignore Vim swap files.
*~

# Ignore setup stuffs.
dist
build

# Ignore Virtualenv
venv/

# Ignore OS X shit
.DS_Store
fbone/static/offers/*
fbone/static/acts/*
