# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

# Including
recursive-include octodus/templates *
recursive-include octodus/static *
recursive-include octodus/views *
recursive-include octodus/forms *
recursive-include octodus/models *
recursive-include octodus/translations *

# Excluding
recursive-exclude octodus *.pyc
recursive-exclude tests *.pyc
