{% extends "content.html" %}

{% block presentacion %}


<div class="post">
<h2 class="title">
<a href="#">Qui&eacute;nes somos</a>
</h2>
<div class="entry">
<p>&nbsp;</p>
<p>Somos una empresa formada por un grupo de profesionales con larga experiencia con el objetivo primordial de ofrecerles un servicio cimentado en la garant&iacute;a de calidad, que conseguimos gracias a nuestros equipos fotogr&aacute;ficos de alta definici&oacute;n.</p>
<p>Al mismo tiempo, disponemos de una plataforma on-line, en la que le ofrecemos un abanico de m&uacute;ltiples posibilidades a la hora de dise&ntilde;ar su orla, reportaje fotogr&aacute;fico, etc... y que ponemos a su disposici&oacute;n para mejorar nuestros tiempos de respuesta, gesti&oacute;n y, en definitiva, conseguir su total satisfacci&oacute;n. </p>
</div>
</div>
<div style="clear: both;">&nbsp;</div>

{% endblock %}