{% macro render_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
{% endmacro %}

{%- macro render_textarea(name, cls, value='', height="610px", width="200px") -%}
<textarea class="{{ cls }}" name="{{ name }}" style='width:610px; height: 200px;'>{{ value|safe }}</textarea>
{%- endmacro %}

{% macro render_input(field, cls='', value='', style='', placeholder='', nolabel=False, extra='') %}
<div class='clearfix {% if field.errors %}error{% endif %}'>
    {% if not nolabel %}
      {{ field.label }}
    {% endif %}
    <div class='input'>
        {% if field.errors %}
          {{ field(class_=cls~' error') }}
        {% else %}
          {% if value %}
            {% if placeholder %}
              {{ field(class_=cls,value=value, style=style, placeholder=placeholder) }}
            {% else %}
              {{ field(class_=cls,value=value, style=style ) }}
            {% endif %}
          {% else %}
            {{ field(class_=cls,style=style ) }}
          {% endif %}
        {% endif %}
        {% if extra == 'time' %}
        <i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% elif extra == 'calendar' %}
        <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
        {% endif %}
        <span class="help-inline">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endmacro %}

{% macro render_action(field) %}
    <div class='actions'>
        {{ field(class_='btn btn-primary') }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='{{ url_for("frontend.index") }}'>{{ _('Cancelar') }}</a>
    </div>
{% endmacro %}

{% macro render_table(objects, class='', fields='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            {% if fields == ''%}
            {% set f = objects[0].__dict__ %}
            {% else %}
            {% set f = fields %}
            {% endif %}

            {% for i in f %}
            {% if i != "_sa_instance_state" %}
            <td>{{ i }}</td>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>
            {% for j in f %}
            {% if j != "_sa_instance_state" %}
            <td>{{ object[j] }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.pub', name=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div id='flash_message_container'>
                {% for category, msg in messages %}
                    <div class="alert alert-{{ category }}" data-alert>
                      <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ msg }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
