
.timestamp,
.timeago {
  font-size: 7pt;
  color: #999;
  border-bottom-style:none;
  border-bottom: inherit;
}
.timestamp.timeline.finished{
  color: #e77;
}

.timestamp.timeline.started{
  color: #7e7;
}

.timestamp.timeline.added{
  color: #77e;
}

.timeline.proj_label{
  margin: 1px;
  margin-top: 4px;
}
.timeline.owner_label{
  font-weight: bold;
  font-size: 11pt;
}
.timeline.taskname {
    clear: both;
    float: left;
}
.userlist.proj_labels {
    float:right;
}
.proj_labels {
    float:left;
   margin-left:3px;
   margin-right:6px;
}
.timeline .proj_labels {
    float:right;
  margin-bottom: 3px;
}
.userlist.proj_labels,
.timeline.proj_labels,
.tasklist.owner_label,
.tasklist.sender_label,
.tasklist.proj_labels {
   margin-top: 5px;
}
.userid, 
.taskid {
  display: none;
}

.userdiv,
.taskdiv {
    overflow: hidden;
    min-height: 25px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    border: 1px solid #D0D0D0;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    padding: 5px 15px 12px 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 -2px 2px rgba(0, 0, 0, 0.07);
    /*box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.05);*/
    background: #fff;
}

.timeline.table,
.tasklist.table,
.userlist.table,
.timeline ul ,
.userlist ul ,
.tasklist ul {
    margin: 0;
}

.taskdiv.timeline {
min-height: 25px;
padding-bottom: 3px;
}

.action{
padding:0 8px 0 8px;
}

.points,
.props{
    margin-left: 5px;
}
.table .actions{
    margin-left: 10px;
    padding:0;
    padding-top: 10px;

}

.user,
.task{
min-height:15px;
}

a.label.close {
color:white;
float:inherit;.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: white;
background-color: #333;
box-shadow: inset 0 -7px 22px -3px black;
}
padding-top:0;
padding-bottom:0;
padding-right:2px;
opacity:0.4;
font-weight: normal;
font-size: 12px;
line-height: 10px;
}
a.label.close:hover {
opacity:1;
}

.action,
.actions,
.owner,
.sender,
.timestamp,
.timeago,
.points, 
.props, 
.proj_label, 
.username,
.taskname {
  display: inline-block;
}
.email {
  font-size: 9pt;
}
.username {
  font-size: 11pt;
}
.tasklist.taskname {
    max-width: 80%;
    font-size: 11pt;
}
.taskname {
    margin-left: 2px;
  font-size: 10pt;
}
.username,
.taskname.owner {
  font-weight: bold;
}
.taskname.tasklist.done {
    text-decoration: line-through;
}

.this_project {
    background-color: #08e;
}
.actions.timeline {
    margin-left:5px;
}
.sender_label.label, 
.owner_label.label {
    margin: 1px;
    margin-left: 3px;
}
.sender_label, 
.owner_label {
    float: left;
    
}
.sender_label{
    clear: both;
}
abbr[title], abbr[data-original-title]{
  border-bottom: inherit;
}
.mypoints
{
    padding:9px;
    margin:3px 5px;
    font-weight: bold;
}
.whiteshadow {
   //-moz-box-shadow:    inset -0px -1px 5px rgba(0,0,0,0.6), 0 0 5px 5px #7e6;
   //-webkit-box-shadow: inset -1px -1px 5px rgba(0,0,0,0.6), 0 0 5px 5px #7e6;
   box-shadow:         0 0 5px 5px #7e6;
   
   /*-moz-box-shadow:    inset 1px 2px 4px rgba(255,255,255,0.4),inset -1px -2px 4px rgba(0,0,0,0.6), 0 0 5px 5px #9f6;
   -webkit-box-shadow: inset 1px 2px 4px rgba(255,255,255,0.4),inset -1px -2px 4px rgba(0,0,0,0.6), 0 0 5px 5px #9f6;
   box-shadow:         inset 1px 2px 4px rgba(255, 255,255,0.4),inset -1px -2px 4px rgba(0,0,0,0.6), 0 0 5px 5px #9f6;
   */
/*   -moz-box-shadow:    inset -1px -2px 5px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset -1px -2px 5px rgba(0,0,0,0.5);
   box-shadow:         inset -1px -2px 5px rgba(0,0,0,0.5);
*/
}

.cajita{
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #E3E3E3;
    box-shadow: inset 0 1px 1px r.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: white;
background-color: #333;
box-shadow: inset 0 -7px 22px -3px black;
}gba(0, 0, 0, 0.05);
}

.list{
    overflow: hidden;
   /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border: 1px solid #D0D0D0;
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: solid;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 -2px 2px rgba(0, 0, 0, 0.07);
    background: #fcfcfc;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
color: white;
background-color: #333333;
box-shadow: inset 0 -7px 22px -3px black;
}

.navbar-inverse{color:#999999;}.navbar-inverse .navbar-inner{background-color:#1b1b1b;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);border-color:#252525;}

#mypoints ,
.badge-points{
    background-color: #F89406;
    background-image::-moz-linear-gradient(top, #FD9, #F89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#FD9), to(#F89406));background-image:-webkit-linear-gradient(top, #FD9, #F89406);background-image:-o-linear-gradient(top, #FD9, #F89406);background-image:linear-gradient(to bottom, #FD9, #F89406);
    box-shadow: 1px 1px 0 #B04C00, 0 0 7px 4px #FDA;
    color: #B04C00;
    text-shadow: 0 0 1px rgba(250, 250, 90, 0.95);
    border-radius: 30px;

}

.taskdescription{
    font-size: 9pt;
    display: none;
    clear: both;
}
.taskdiv:hover .taskdescription, .taskdiv.hover .taskdescription{
    margin-left: 4px;
    padding-top: 10px;
display: block; 
}

.userlist.contacts .relation,
.table .comments,
.table .actions{
    display:none;
    clear:both;
}
/*.userdiv.userlist.main .actions, */
.userdiv.userlist.main .relation, 
.userdiv:hover .relation .userlist.hover .relation, 
.userdiv:hover .actions, .userdiv.hover .actions, 
.taskdiv:hover .comments, .taskdiv.hover .comments,
.taskdiv:hover .actions, .taskdiv.hover .actions{
    display:inline-block;
}

.taskdiv:hover .comments, .taskdiv.hover .comments{
    display:block;
}

.datepicker {
z-index: 9999;
top: 0;
left: 0;
padding: 4px;
margin-top: 1px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.label{
padding: 2px 5px 4px 5px;
}
.badge {
padding: 2px 9px 4px 9px;
}


