.timestamp,
.timeago {
  font-size: 7pt;
  color: #999;
  border-bottom-style: none;
  border-bottom: inherit;
}
.taskid {
  display: none;
}

.taskdiv {
min-height: 25px;
border-top-style: solid;
border-width: 1px;
border-color: #E9E9E9;
padding-top: 5px;
padding-bottom: 2px;
}

.action{
padding:0 8px 0 8px;
}

.actions{
padding:0;
}

.task{
min-height:15px;
}


.action,
.actions,
.owner,
.sender,
.timestamp,
.timeago,
.props, 
.proj-label, 
.proj-labels, 
.taskname {
  display: inline-block;
}
.taskname {
  font-size: 9pt;
}
.taskname.owner {
  font-weight: bold;
}
.taskname.done {
    text-decoration: line-through;
}
.proj_labels {
    min-height:20px;
    min-width:20%;
}
.props {
    margin-right:20px;
}
.sender, 
.owner {
    margin-right:5px;
}
abbr[title], abbr[data-original-title]{
  border-bottom: inherit;
}
