.timestamp,
.timeago {
  font-size: 7pt;
  color: #999;
  border-bottom-style:none;
  border-bottom: inherit;
}
.timestamp.timeline.finished{
  color: #e77;
}

.timestamp.timeline.started{
  color: #7e7;
}

.timestamp.timeline.added{
  color: #77e;
}

.timeline.proj_label{
  margin: 1px;
  margin-top: 4px;
}
.timeline.owner_label{
  font-weight: bold;
  font-size: 11pt;
}
.timeline.taskname {
    clear: both;
    float: left;
}
.proj_labels {
    float:left;
   margin-left:3px;
   margin-right:6px;
}
.timeline.proj_labels {
    float:right;
  margin-bottom: 3px;
}
.userid, 
.taskid {
  display: none;
}

.userdiv,
.taskdiv {
    overflow: hidden;
min-height: 25px;
border-top-style: solid;
border-width: 1px;
border-color: #E9E9E9;
padding-top: 5px;
padding-bottom: 9px;
}

.taskdiv.timeline {
min-height: 25px;
padding-bottom: 3px;
}

.action{
padding:0 8px 0 8px;
}

.points,
.props{
    margin-left: 5px;
}
.actions{
    margin-left: 10px;
padding:0;
}

.user,
.task{
min-height:15px;
}

a.label.close {
color:white;
float:inherit;
padding-top:0;
padding-bottom:0;
padding-right:2px;
opacity:0.4;
}
a.label.close:hover {
opacity:1;
}

.action,
.actions,
.owner,
.sender,
.timestamp,
.timeago,
.points, 
.props, 
.proj_label, 
.username,
.taskname {
  display: inline-block;
}
.email {
  font-size: 9pt;
}
.username {
  font-size: 11pt;
}
.tasklist.taskname {
    max-width: 50%;
}
.taskname {
    margin-left: 2px;
  font-size: 9pt;
}
.username,
.taskname.owner {
  font-weight: bold;
}
.taskname.tasklist.done {
    text-decoration: line-through;
}

.this_project {
    background-color: #08e;
}
.actions.timeline {
    margin-left:5px;
}
.sender_label.label, 
.owner_label.label {
    margin: 1px;
    margin-left: 3px;
}
.sender_label, 
.owner_label {
    float: left;
    margin-top: 1px;
}
.sender_label{
    clear: both;
}
abbr[title], abbr[data-original-title]{
  border-bottom: inherit;
}
