<html>

{% trans change_password_url=url_for('frontend.change_password', email=user.email, activation_key=user.activation_key, _external=True), user=user.name %}
<p>
Olvidaste tu contraseña, {{user}}?
</p>

<p>
E.F. Digital Orlas ha recibido una petición para resetear la contraseña de tu cuenta ({{user}}).
</p>

<p>
Si quieres resetear tu contraseña, haz click en el siguiente enlace: 

<a href="{{ change_password_url }}">cambiar contraseña</a>
</p>

<p>
Este enlace te lleva a una página donde puedes cambiar tu contraseña. Procura que no sea una demasiado fácil.
</p>

<p>
Si no quieres cambiar tu contraseña, simplemente ignora este mensaje y tu contraseña no cambiará. Si tienes alguna duda, ponte en contacto con nosotros en el email: efdigitalorlas@gmail.com
</p>

<p>
E.F. Digital Orlas.
</p>
{% endtrans %}
</html>
