<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   	<meta name="keywords" content="Productivity, game, todo, todo-list, motivation, social">
    <meta name="description" content="Reclaim your life">
	<title>Octodus - {% block title %}{{ page_title }}{% endblock %} - Todo-list game</title> 
    <meta name="author" content="Sigmaset">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="" />
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.8.16.custom.css') }}">
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleorlas.css') }}"-->
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-wysihtml5.css') }}"-->
    {% endblock %}
    {% block append_css %}
    {% endblock %}

</head>
<body style='padding-top: 4px; background-color: #FFF;'>
	<div class="container" style="margin-top: 0;">
    	<div id="logo" style="margin-left: auto;"></div>
   	</div>
    <div class="navbar-wrapper" style="z-index: 5;">

        <div id="header" class="navbar " data-dropdown="dropdown" role='banner' style="margin-bottom:0">
            <div class="navbar-inner" style="min-width:940px;border-radius:0">
        <div class="container" style="max-width:980px;margin-left:auto;margin-right:auto;">
                	{% if current_user.is_authenticated() %}
                	  <h3><a id='index' class='brand' href='{{ url_for('frontend.index') }}'>{{ current_user.username }}</a></h3>
                	   <ul class="nav secondary-nav">
                	  <li id='tasks' ><a href="/user/tasks">Tasks</a></li>
                	  <li id='projects' ><a href="/user/projects">Projects</a></li>
                	  <li id='profile' ><a href="/user/profile">Profile</a></li>
                	  <li id='timeline' ><a href="/user/timeline">Timeline</a></li>
                	{% else %}
                      <h3><a id='index' class='brand' href='{{ url_for('frontend.index') }}'>Octodus</a></h3>
                    
                    <!--form class="pull-left" action="{{ url_for('frontend.search') }}">
                        <input type='text' name='keywords' value='{{ keywords|default('') }}' placeholder='{{ _('Search...') }}' />
                    </form-->
                    <!--div class="nav-collapse"-->
                 	  <ul class="nav secondary-nav">
                
						<li id='galeria'><a href="{{ url_for('frontend.index') }}">Actos de graduación</a></li>
				    {% endif %}
                    </ul>

                 	  <ul class="nav pull-right">
                    {% if current_user.is_authenticated() %}
                    <ul class="nav secondary-nav">
                        <li><a class="badge badge-success" style="color:white"> {{current_user.points}} puntos </a></li>
                      </ul>
                    <!--ul class="nav secondary-nav"-->
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.email }} 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.edit_datos') }}">Preferencias</a></li>
                            <li><a href="{{ url_for('frontend.change_password') }}">Cambiar contraseña</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('frontend.logout') }}">Salir</a></li>
                        </ul>
                        </li>
                    </ul>
                    {% elif login_form is defined %}
                    <!--ul class="nav secondary-nav"-->
						<li id='login'><a href='{{ url_for('frontend.login') }}'>Entrar</a></li>
						<li id='signup'><a href='{{ url_for('frontend.signup') }}'>Registrarse</a></li>
                        <!--
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Entrar</a>                        
                        <ul class="dropdown-menu">
						 <li><a href="{{ url_for('frontend.signup') }}">Registrarse</a></li>
						 <li class="divider"></li>
                         <form class='navbar-form' method='POST' action='{{ url_for('frontend.login') }}'>
                        {{ login_form.hidden_tag() }}
                        {{ login_form.next }}
                        {{ login_form.email(class_='input-medium navbar-search pull-center', placeholder='Email') }}
                        {{ login_form.password(class_='input-medium pull-center', placeholder='Contraseña') }}
                        <button class='pull-right btn-primary' type='submit'>Entrar</button> 
                    </form> 
                     -->
                    	</ul>
                 <!--/div-->
                        </ul>
                        </li>
                    </ul>
                    

                    {% endif %}
                </div>
            </div><!-- /topbar-inner -->
        </div><!-- /header -->
    </div>

    <div class="container">
        <div class="content">
            <div class="page-header">
                {% from 'macros/_misc.html' import render_flash_message %}
                {{ render_flash_message() }}
                <h1>{{ page_title }}</h1>
            </div>

            <div class="row">
                {% block menu %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <div id="footer" style="text-align: right; margin-top: 10px; margin-bottom: 15px;">
            <p>
                © 2012 Octodus - Done by <a href="http://www.sigmaset.com">Sigmaset</a> -
                <!--a href='{{ url_for('frontend.about') }}'>{{ _('About') }}</a> -
                <a href='{{ url_for('frontend.blog') }}'>{{ _('Blog') }}</a> -
                <a href='{{ url_for('frontend.help') }}'>{{ _('Help') }}</a> -
                <a href='{{ url_for('frontend.terms') }}' title='{{ _('Terms of Service') }}'>{{ _('Terms') }}</a-->
            </p>
            </div> <!-- footer -->
    </div>

    {% block jquery %}
    {% set jquery_path = url_for('static', filename='js/libs/jquery-1.7.2.min.js') %}
    <script>window.jQuery || document.write('<script type="text/javascript" src="{{ jquery_path }}"><\/script>')</script>

    {% endblock %}

    {% block js_plugins %}
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    {% endblock %}

    {% block js_script %}
    <!--script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-alert.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-alerts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-transition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-dropdown.js') }}"></script>
<!--script type="text/javascript" src="{{ url_for('static', filename='js/libs/wysihtml5/wysihtml5-0.3.0.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/wysihtml5/bootstrap-wysihtml5.js') }}"></script-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
  })();

</script>

    {% endblock %}
    {% block append_js %}
    {% endblock %}
    {% block append_js2 %}
    {% endblock %}
</body>
</html>
