{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Entrar en Octodus') %}

{% extends "layout.html" %}

{% block body %}
<div class='span10'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.login') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
        	{% if not tries -%}
            <legend>Aún no tienes cuenta? <a href="{{ url_for('frontend.signup') }}">Regístrate</a> por favor.</legend>
            {% endif %}
            {% if tries -%}
            <legend>Olvidaste la contraseña? <a href="{{ url_for('frontend.reset_password',value=form.data.email) }}">Recupera tu contraseña</a>.</legend>
            {% endif %}
            {{ render_input(form.email, 'xlarge', value=email) }}
            {{ render_input(form.password, 'xlarge') }}
            <div class='clearfix'>
                <label></label>
                <div class="input">
                    {{ form.remember() }}<span class='remember_me'>{{ _('Recuérdame') }}</span>
                </div>
            </div>
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}
