{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Octodus - Login') %}

{% extends "layout.html" %}

{% block body %}
<div class='span5 offset4'>
    <form class='form-horizontal' method="POST" action="{{ url_for('frontend.login') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
        	{% if not tries -%}
            <legend>Don't have an account yet? <a href="{{ url_for('frontend.signup') }}">Signup</a> please.</legend>
            {% endif %}
            {% if tries -%}
            <legend>Forgot your password? <a href="{{ url_for('frontend.reset_password',value=form.data.email) }}">Get your password back</a>.</legend>
            {% endif %}
            {{ render_input(form.email, 'xlarge', value=email) }}
            {{ render_input(form.password, 'xlarge') }}
            <div class='clearfix control-group'>
            <div class='controls'>
                <div class="input checkbox">
                    {{ form.remember() }}<span class='remember_me'>{{ _('Remember me') }}</span>
                </div>
            {{ render_action(form.submit) }}
            </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block append_js %}
<script  src="{{ url_for('static', filename='js/libs/mailcheck.min.js') }}"></script>
<script>
    $('#login').addClass('active');
    $('label[for="nocode"]').css('display','inline-block');
    $('.actions').css('margin-top','12px');
</script>

<script>
function changeEmail(suggestion){
        $('#email').val(suggestion);
  $('#email').next().text('');// callback code
}
/*var domains = ['hotmail.com', 'gmail.com', 'aol.com'];
var topLevelDomains = ["com", "net", "org"];

var superStringDistance = function(string1, string2) {
  // a string distance algorithm of your choosing
}
*/
$('#email').on('blur', function() {
  $('#email').next().text('');// callback code
  $(this).mailcheck({
    suggested: function(element, suggestion) {
       if (suggestion){
        var ayudita = $('#email').next();
        $('<p>Did you mean <a href="javascript:void(0)" onclick="changeEmail(\''+suggestion.full+'\');">'+suggestion.full+'</a>?</p>').appendTo(ayudita)
        }
    },
    empty: function(element) {
      // callback code
    }
  });
});

</script>
{% endblock %}
