{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Nuestros Productos') %}

{% extends 'layout.html' %}

{% block body %}
<div class="row-fluid">	
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/1.jpg" alt="Orlas y Orlines" /></p>
						<p style="text-align: center; font-weight: bold;">ORLAS Y ORLINES</p>
                    </div>
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/2.jpg" alt="Lotes de Fotos" /></p>
						<p style="text-align: center; font-weight: bold;">LOTES DE FOTOS</p> </div>
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/3.jpg" alt="Ampliaciones y difuminados" /></p>
						<p style="text-align: center; font-weight: bold;">AMPLIACIONES Y DIFUMINADOS</p>
                    </div>
</div>
<div class="row-fluid">	
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/4.jpg" alt="Orlas Personalizadas" /></p>
						<p style="text-align: center; font-weight: bold;">ORLAS PERSONALIZADAS</p>
                    </div>
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/6.jpg" alt="Becas Bordadas" /></p>
						<p style="text-align: center; font-weight: bold;">BECAS BORDADAS</p>
                    </div>
					<div class="span4">
						<p style="text-align: center"><img src="../static/img/productos/5.jpg" alt="Archivos Digitales" /></p>
						<p style="text-align: center; font-weight: bold;">ARCHIVOS DIGITALES</p>
                    </div>
</div>
					<div class="span12">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p style="text-align: center">Reportaje personalizado, nos adaptamos a vuestra elección.<br />
                        Puedes componer tu Oferta individualmente como más te guste.<br />
                        Elige tu Orla y Lote de fotos y haz la combinación<br />
                        que más se adapte a tus necesidades.<br />
                        Para más información, contacta con nosotros:</p>
                        <br />
                        <p style="text-align: center"><a href="mailto:efdigitalorlas@gmail.com">efdigitalorlas@gmail.com</a></p>
						<p style="text-align: center">Tel.:912477428</p>

					</div>
{% endblock %}

{% block append_js %}
<script>
    $('#productos').addClass('active');
</script>
{% endblock %}
