{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Recuperar contraseña') %}

{% extends 'layout.html' %}

{% block body %}
<div class='span10'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.reset_password') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <legend><b>{{ page_title }}</b></legend>
            {{ render_input(form.email,value=value) }}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}
