{% from 'macros/_misc.html' import render_pagination, render_user_table, render_table %}

{% extends 'layout.html' %}


{% if keywords %}
    {% set page_title = _('Search results for "%(keywords)s"', keywords=keywords) %}
{% else %}
    {% set page_title = _('Keywords needed!') %}
{% endif %}

{% block body %}
    {% if pagination and pagination.pages %}
        <p>{% trans total=pagination.total, keywords=keywords %}<strong>{{ total }}</strong> found for your search "<strong>{{ keywords }}</strong>".{% endtrans %}</p>
        {{ render_table(pagination.items, 'zebra-striped') }}
        {{ render_pagination(pagination, 'frontend.search') }}
    {% else %}

        {{ render_table(pagination, 'zebra-striped', ['id','name', 'surname', 'email']) }}
    {% endif %}
{% endblock %}
