{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Octodus - Register') %}

{% extends 'layout.html' %}

{% block body %}
<div class='span10'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.signup') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <legend>Already registered? <a href="{{ url_for('frontend.login') }}">Login</a> here.</legend>
            {{ render_input(form.code, 'xlarge') }}
            {{ render_input(form.username, 'xlarge') }}
            {# { render_input(form.surname, 'xlarge') }#}
            {{ render_input(form.email, 'xlarge') }}
            {{ render_input(form.password, 'xlarge') }}
            {{ render_input(form.password_again, 'xlarge') }}
            {#{ render_input(form.nocode, 'xlarge', labelAfter=True) }#}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}

{% block append_js %}
<script  src="{{ url_for('static', filename='js/libs/mailcheck.min.js') }}"></script>
<script>
    $('#signup').addClass('active');
    $('label[for="nocode"]').css('display','inline-block');
    $('.actions').css('margin-top','12px');
</script>

<script>
function changeEmail(suggestion){
        $('#email').val(suggestion);
  $('#email').next().text('');// callback code
}
/*var domains = ['hotmail.com', 'gmail.com', 'aol.com'];
var topLevelDomains = ["com", "net", "org"];

var superStringDistance = function(string1, string2) {
  // a string distance algorithm of your choosing
}
*/
$('#email').on('blur', function() {
  $('#email').next().text('');// callback code
  $(this).mailcheck({
    suggested: function(element, suggestion) {
       if (suggestion){
        var ayudita = $('#email').next();
        $('<p>Did you mean <a href="javascript:void(0)" onclick="changeEmail(\''+suggestion.full+'\');">'+suggestion.full+'</a>?</p>').appendTo(ayudita)
        }
    },
    empty: function(element) {
      // callback code
    }
  });
});

</script>
{% endblock %}
