{% from 'macros/_misc.html' import render_tasklist, render_userlist %}
{#% set page_title = current_user.name +' '+current_user.surname %#}
{% set page_title = title %}

{% extends "user_index.html" %}

{% block body %}
<div class="row offset3 ">
<div class="btn-toolbar span12"> <!--navbar navbar-inner navbar-form -->
    <div id="newtask" class="input pull-left" style="display:inline-block;" >
            <!--onsubmit="submitAjaxQuery(event)" -->
        <form id="task_quickentry" method="POST"
             onsubmit="return _onsubmit(event, $(this), 
            '/user/tasks/new/');"
            action="{{ url_for('user.new_task')}}">
                    <input class="input-xxlarge newtaskname" id="newtaskname" name="name"
                    style="display:inline-block;" type="text" value="New Task"
                    
            onFocus="if ($(this).val()=='New Task'){$(this).val('')};"
            onBlur="if ($(this).val()==''){$(this).val('New Task')};">
        </form>
                    
                </div>
                <button id="newtask_button" type="button" class="btn btn-primary pull-left" style="margin-right:5px;margin-left:5px;" title="New Task">
                    <i class="icon-white icon-plus"></i> 
                    New Task</button>
        <button id="showhide_done" type="button" class="btn btn-small  pull-right" data-toggle="buttons-checkbox">Hide done tasks</button>
    </div>
<div class="row-fluid ">
<div class="span8">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    
    <h4>Tasks</h4> 
    <div class="list" >
    {% if not project %}
    {{ render_tasklist(tasks, 'tasklist', headers, fields, delete, no_set_delete, actions, current_user, '') }}
    {% else %}
    {{ render_tasklist(tasks, 'tasklist', headers, fields, delete, no_set_delete, actions, current_user, project.name) }}
    {% endif %}
    </div>
</div>
<div class="span4">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    
    <div class="timeline div" >
    <h4 style="display:inline-block">Timeline
        <button id="showhide_timeline" type="button" class="btn  btn-small " data-toggle="buttons-checkbox"><i class="icon-eye-close"></i></button></h4> 
    <div class="timeline list" >
    {% if not project %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, '') }}
    {% else %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, project.name) }}
    {% endif %}
    </div>
    </div>
    &nbsp;
    <div class="timeline div">
    <h4 style="display:inline-block">Contacts
    <button id="showhide_userlist" type="button" class="btn btn-small" data-toggle="buttons-checkbox"><i class="icon-eye-close"></i></button></h4> 
    <div class="list userlist" >
    {% if not project %}
    {{ render_userlist(objects, 'userlist contacts', usersfields, usersactions, current_user, '') }}
    {% else %}
    {{ render_userlist(objects, 'userlist contacts', usersfields, usersactions, current_user, project.name) }}
    {% endif %}
    </div>
    </div>
</div>
</div>
</div>
 
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delegar tarea</h3>
  </div>
  <div class="modal-body">
      <p id="tasknametosend"></p>
                <div id="newownerdiv" class="input" style="display:inline-block;" >
                    <!--span class="add-on">@</span input-prepend -->
                    <select class="xlarge" id="newtaskowner" name="name"
                        type="text"></select>
                </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary"
        onClick="setUserToSend($('#newtaskowner').val());return sendTask();" >Send</button>
  </div>
</div>


{% endblock %}

{% block append_js_on_load %}

    $('.taskdiv, .userdiv').click(function(e){
        $('.taskdiv.active, .userdiv.active').removeClass('active');
        $(this).addClass('active');
    });


    var contacts ={{ contacts|safe }}; 

    $.each(contacts, function(key, value) {   
     $('#newtaskowner')
          .append($('<option>', { value : key })
          .text(value)); 
    });

    $('#tasks').addClass('active');
    $("#showhide_done").button();
    $("#showhide_timeline").button();
    $("#showhide_userlist").button();
    $('#{{ active }}').addClass('active');
    

    $("#showhide_userlist").click(function() {
        if ($("#showhide_userlist").hasClass('active')){
           $('.list.userlist').fadeIn();
        }
        else{
            $('.list.userlist').fadeOut();
        }
        });
    $("#showhide_timeline").click(function() {
        if ($("#showhide_timeline").hasClass('active')){
           $('.list.timeline').fadeIn();
        }
        else{
            $('.list.timeline').fadeOut();
        }
        });

        $("#newtask_button").click(function() {
            if ($('#newtaskname').val() === "New Task"){
                return _action($(this));
            }
            else{
             return _onsubmit(event, $('#task_quickentry'), '/user/tasks/new/');
            }
        });


    $("#showhide_done").click(function() {
        if ($("#showhide_done").hasClass('active')){
           $('.taskdone').fadeIn();//css('display','inherit');
           //$('.taskdone').show( 'blind', {}, 500, {} );
            //$("#showhide_done").removeClass('active');
        }
        else{
            $('.taskdone').fadeOut();//css('display','none');
           //$('.taskdone').hide( 'blind', {}, 500, {} );
            //$('.taskdone').css('display','none');
            //$("#showhide_done").addClass('active');
        }
        });

    $(".proj_label.tasklist > .close").live("click", function() {
        var project_id = $(this).attr('data-project');
        var task_id = $(this).attr('data-taskid');
        var action = 'unset';
        url='/user/project/'+project_id+'/'+action+'/'+task_id
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        });
    

    $(".proj_label.userlist > .close").live("click", function() {
        var project_id = $(this).attr('data-project');
        var user_id = $(this).attr('data-userid');
        var action = 'deluser';
        url='/user/project/'+project_id+'/'+action+'/'+user_id
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        });


   // });
    jQuery("abbr.timeago").timeago();
    $('.launchtooltip').tooltip();
    $('.launchpopover').popover();
    $('#newtaskowner').select2({width:"resolve"});
        $( ".project" ).draggable({appendTo: 'body', helper: 'clone'});
        $( ".label" ).draggable({appendTo:'body'} );
        $( ".droppable" ).droppable({
            drop: function( event, ui ) {
    var id =  $(this).attr('data-id');
    var project_name = $(ui.draggable).attr('data-id');
    var action = 'adduser';
    if ( $(this).hasClass('task') ){
        action = 'set';
    }
     url='/user/project/'+project_name+'/'+action+'/'+id;

      $.ajax({
          url:url
             }).done(function() { 
                 document.location.reload();
                 });
    }

        });


   
{% endblock %}
