{% from 'macros/_misc.html' import render_tasklist %}
{#% set page_title = current_user.name +' '+current_user.surname %#}
{% set page_title = title %}

{% extends "user_index.html" %}

{% block body %}
<div class="span9">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    
    {{ render_tasklist(objects,'table-hover', headers, fields, delete, no_set_delete, actions, current_user) }}
</div>
{% endblock %}

{% block append_js %}
<script>
    $('#tasks').addClass('active');
    $('#{{ active }}').addClass('active');

    $(".proj_label.label.label-info").hover(function() {
        $(this).append('<a class="label label-info close" style="color:white;float:inherit;opacity:1;padding-right:2px;">&times;</a>');
        }, function() {
            $(".close").remove();
    });
    $(".proj_label > .close").live("click", function() {
        var proj_label = $(this).parent();
        var proj_name = proj_label.text();
        proj_name = proj_name.replace('×','')
        var task = proj_label.parent().siblings().first();
        $.ajax({
            url:'/user/project/'+proj_name+'/unset/'+task.text()
             }).done(function() { 
                 document.location.reload();
        });
        });
    
   // });
    $(function() {
        $( ".project" ).draggable({helper: 'clone'});
        $( ".label" ).draggable();
        $( ".droppable" ).droppable({
            drop: function( event, ui ) {
    var task_id =  $(this).attr('id');
    var indexof_ = task_id.indexOf('_')+1;
    var id = task_id.substr(indexof_, task_id.length);
    var project_name = $(ui.draggable).text().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
    //window.location.href = 
      $.ajax({
          url:'/user/project/'+project_name+'/set/'+id
             }).done(function() { 
                 document.location.reload();
        });
}});

             //   $( this )
             //       .addClass( "success" );
    });
    </script>
{% endblock %}
