{#% set page_title = current_user.name +' '+current_user.surname %#}

{% extends "layout.html" %}

{% block menu %}
<div class="span3">	
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list ">
{% if current_user.is_admin() %}
    <li class='nav-header'>
    <i class='icon-user'></i>
    Usuarios
    </li>
    <li id='user_list'><a href='{{ url_for('user.list') }}'>
    <i class='icon-list'></i>
    Lista de usuarios
    </a>
    </li>
    <li class="divider"></li>
{% endif %}
<li id="Inbox"> <a href='Inbox'>
        <i class='icon-inbox' style="display:inline-block;"></i>
        <div class='project draggable'  style="display:inline-block;">
        Inbox
        </div>
        {% for project in current_user.projects: %}
        {% if project.name in ['Inbox'] %}
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="Private"><a href='Private'>
        <i class='icon-user' style="display:inline-block;"></i>
        <div class='project draggable' style="display:inline-block;">
        Private
        </div>
        {% for project in current_user.projects: %}
        {% if project.name in ['Private'] %}
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="Public"><a href='Public'>
        <i class='icon-bullhorn' style="display:inline-block;"></i>
        <div class='project draggable' style="display:inline-block;">
        Public
        </div>
        {% for project in current_user.projects: %}
        {% if project.name in ['Public'] %}
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="Done"><a href='Done'>
        <i class='icon-check' style="display:inline-block;"></i>
        <div class='project draggable' style="display:inline-block;">
        Done
        </div>
        </a> 
        </li>
        <li id="new_project" onClick="document.getElementById('newproject').focus();">
        <a>
        <i class='icon-plus' style="display:inline-block;" ></i>
        <span id='newproject' style="display:inline-block; cursor:text; padding:2px 2px 0 0;" 
            contenteditable="true"
           onKeyUp="return _onKeyUp(event, $(this), 
            '/user/project/', true);"  onKeyPress="return _onKeyPress(event, $(this), '/user/project/', true);" 
            onFocus="$(this).text('');$(this).parent().css('background-color', 'white');"
            onBlur="$(this).parent().css('background-color', 'inherit');return _onBlur($(this), 'Nuevo Proyecto', true);">
        Nuevo Proyecto
        </span> 
        <!-- onKeyUp="return _onKeyUp(event, $(this), 
            '/user/project/', true);" onInput="return _onKeyUp(event, $(this), 
            '/user/project/', true);"-->
        </a>
        </li>
    {% if current_user.projects|length %}
    {% for project in current_user.projects: %}
    {% if project.name not in ['Inbox','Private','Public'] %}
    <li id="{{project.name}}"><a href='{{project.name}}'  class='more_projects'>
            <i class='icon-tag' style="display:inline-block;"></i>
            <div class='project proj_name draggable' style="display:inline-block;">
            {{project.name}}
            </div>
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
                </a> 
            </li>
    {% endif %}
        {% endfor %}
    {% endif %}
    </a> 
	</li>
</ul>
{% if current_user.is_coordinator() %}
<ul class="nav nav-list">
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
</div>
</div>
{% endblock %}
{% block body %}
{% endblock %}

{% block append_js2 %}
<script>
    $('.active a i').addClass('icon-white');
    
    $(".more_projects").hover(function() {
        $(this).append('<button class="more_proj close pull-right" style="float:right;display:inline-block;">&times;</button>');
        }, function() {
            $(".more_proj.close").remove();
    });


    $(".more_projects > .close").live("click", function() {
        var proj_label = $(this).siblings('.project');
        var proj_name = proj_label.text();
        proj_name=proj_name.replace(/ /g,"").replace(/(\r\n|\n|\r)/gm,"");
        url='/user/projects/del/'+proj_name;
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        $(this).parent().remove();
    });
/*
    $('#newproject').keyup(function (event){
        alert(event.keycode);
        alert(e.keycode);
        alert('aqui tampoco llega?');
        return _onKeyUp(e,'/user/project/', true);
    });
*/
    function show()
    {
    alert(editor.innerHTML);
    }

    function checkEnter(event) {
        if (event.keyCode == 13) { 
            event.cancelBubble = true;
            
            return false;
        }
        else return true;
        }

    function _onBlur(node, defaultText, isProject)
    {
        if (isProject){
            node.text(defaultText);
        }
        else{
            node.val(defaultText);
        }
        return true;
    }

    function _onKeyDown(event)
    {
        return checkEnter(event);
    }

    function _onKeyUp(event, node, url, isProject)
    {
            if (event.charCode == 13 || event.keyCode == 13) { 
                var sel = "";
                if (isProject){
                    sel = node.text();
                }
                else{
                    sel = node.val();
                    node.val('');
                }

            sel = decodeURIComponent(sel);
            if (isProject){
                sel=sel.replace(/^\s\s*/, '').replace(/\s\s*$/, '').replace(/ /g,"_");
            }
            $.ajax({
                url:url+sel
                }).done(function() { 
                     document.location.reload();
            });
            return true;
             }

            //sel.pasteHTML('<br>'); 
            //sel.moveEnd();
        return true;
    }

    function _onKeyPress(event, node, url, isProject)
    { 
       // return checkEnter(event, node, url, isProject);
        if (!checkEnter(event)){
            return _onKeyUp(event, node, url, isProject)
        }
    }


    var task_to_send = '';
    var username_to_send = '';

    function _action(node)
    {
        if (node.attr('title') == "Enviar"){
            setTaskToSend(node.attr('href'))
            $('#tasknametosend').text(node.parent().parent().parent().children('.taskname').text());
            $('#myModal').modal();
            // node.children().first().removeClass('icon-envelope');
            // node.parent().parent().parent().remove();
         }else{
        url = node.attr('href');
        if (node.attr('title') == "Comenzar"){
             node.children().first().removeClass('icon-play');
             node.children().first().addClass('icon-pause');
         }
        $.ajax({
            url:url
            }).done(function() { 
            if (node.attr('title') == "Borrar"){
                node.parent().parent().parent().parent().remove();
            }
            if (node.attr('title') == "Prop"){
                 document.location.reload();
            }
            if (node.attr('title') == "Marcar terminada"){
                 document.location.reload();
            }
            if (node.attr('title') == "Unfollow"){
                 document.location.reload();
            }
            if (node.attr('title') == "Follow"){
                 document.location.reload();
            }
        });
        }
        return true;
    }


    function setTaskToSend(id){
        task_to_send = id;
    }

    function setUserToSend(id){
        username_to_send = id;
    }

    function sendTask(){
      $.ajax({
          url:'/user/tasks/send'+task_to_send+'/'+username_to_send
             }).done(function() { 
                 document.location.reload();
        });
    }



</script>
{% endblock %}
