{% from 'macros/_misc.html' import render_userlist, render_tasklist %}
{#% set page_title = current_user.name +' '+current_user.surname %#}
{% set page_title = title %}

{% extends "user_index.html" %}

{% block body %}
<div class="offset3 row">
<div class="btn-toolbar span12 pull-right"> <!--navbar navbar-inner navbar-form -->
        <button id="showhide_done" type="button" class="btn pull-right" data-toggle="buttons-checkbox">Hide done tasks</button>
    </div>
<div class="row-fluid ">
<div class="span8">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    
    <h4>Users</h4> 
<div class="list">
    {% if not project %}
    {{ render_userlist(objects, 'userlist main', fields, actions, current_user, '') }}
    {% else %}
    {{ render_userlist(objects, 'userlist main', fields, actions, current_user, project.name) }}
    {% endif %}
</div>
</div>
<div class="span4">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    <h4>Timeline</h4> 
<div class="list">
    {% if not project %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, '') }}
    {% else %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, project.name) }}
    {% endif %}
</div>
</div>
</div>
 
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delegar tarea</h3>
  </div>
  <div class="modal-body">
      <p id="tasknametosend"></p>
                <div id="newownerdiv" class="input input-prepend" style="display:inline-block;" >
                    <span class="add-on">@</span>
                    <select class="xlarge" id="newtaskowner" name="name"
                        type="text"></select>
                </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary"
        onClick="setUserToSend($('#newtaskowner').val());return sendTask();" >Send</button>
  </div>
</div>


{% endblock %}

{% block append_js %}
<script>
    
    var config = {    
        over: makeTall, // function = onMouseOver callback (REQUIRED)    
        timeout: 700, // number = milliseconds delay before onMouseOut    
        interval: 300,
        out: makeShort // function = onMouseOut callback (REQUIRED)    
    };

    $(".taskdiv , .userdiv").hoverIntent( config)

    $('.taskdiv, .userdiv').click(function(e){
        $(this).addClass('active');
    });

    function makeShort(){
        $(this).removeClass('active', 200, function(){}); 
    }

    function makeTall(){
        $(this).addClass('active', 200, function(){}); 
    }
    

    $('#users').addClass('active');
    $('#{{ active }}').addClass('active');

/*
    $(".proj_label.label.label-info").append('<a class="label label-info close" style="color:white;float:inherit;opacity:1;padding-top:0;padding-bottom:0;padding-right:2px;">&times;</a>');
    $(".proj_label.label.label-info").hover(function() {
        $(this).append('<a class="label label-info close" style="color:white;float:inherit;opacity:1;padding-top:0;padding-bottom:0;padding-right:2px;">&times;</a>');
        }, function() {
            $(".close").remove();
        });
    */
    $("#showhide_done").button();
    $("#showhide_done").click(function() {
        if ($("#showhide_done").hasClass('active')){
           $('.taskdone').fadeIn();//css('display','inherit');
           //$('.taskdone').show( 'blind', {}, 500, {} );
            //$("#showhide_done").removeClass('active');
        }
        else{
            $('.taskdone').fadeOut();//css('display','none');
           //$('.taskdone').hide( 'blind', {}, 500, {} );
            //$('.taskdone').css('display','none');
            //$("#showhide_done").addClass('active');
        }
        });


    $(".proj_label.tasklist > .close").live("click", function() {
        var project_id = $(this).attr('data-project');
        var task_id = $(this).attr('data-taskid');
        var action = 'unset';
        url='/user/project/'+project_id+'/'+action+'/'+task_id;
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        });


    $(".proj_label.userlist > .close").live("click", function() {
        var project_id = $(this).attr('data-project');
        var user_id = $(this).attr('data-userid');
        var action = 'deluser';
        url='/user/project/'+project_id+'/'+action+'/'+user_id;
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        });
    
   // });
    $(function() {
    jQuery("abbr.timeago").timeago();
    $('.launchpopover').popover();
        $( ".project" ).draggable({appendTo: 'body', helper: 'clone'});
        $( ".label" ).draggable({appendTo: 'body'});
        $( ".droppable" ).droppable({
            drop: function( event, ui ) {
    var id =  $(this).attr('data-id');
    var project_name = $(ui.draggable).attr('data-id');
    var action = 'adduser';
    if ( $(this).hasClass('task')){
        action = 'set';
    }
     url='/user/project/'+project_name+'/'+action+'/'+id;

      $.ajax({
          url:url
             }).done(function() { 
                 document.location.reload();
        });
}});
    var contacts ={{ contacts|safe }}; 

    $.each(contacts, function(key, value) {   
     $('#newtaskowner')
          .append($('<option>', { value : key })
          .text(value)); 
    });


    });
    </script>
{% endblock %}
