{#% set page_title = current_user.name +' '+current_user.surname %#}

{% extends "layout.html" %}

{% block menu %}
<div class="span3">	
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
{% if current_user.is_admin() %}
    <li class='nav-header'>
    <i class='icon-user'></i>
    Usuarios
    </li>
    <li id='user_list'><a href='{{ url_for('user.list') }}'>
    <i class='icon-list'></i>
    Lista de usuarios
    </a>
    </li>
    <li class="divider"></li>
{% endif %}
        <li id="inbox"><a href='/user/inbox'>
        <i class='icon-inbox'></i>
        Inbox
        </a> 
        </li>
        <li id="private"><a href='/user/private'>
        <i class='icon-user'></i>
        Private
        </a> 
        </li>
        <li id="public"><a href='/user/public'>
        <i class='icon-bullhorn'></i>
        Public
        </a> 
        </li>
        <li id="done"><a href='/user/done'>
        <i class='icon-check'></i>
        Done
        </a> 
        </li>
        <li id="new_project"><a href='{{ url_for('user.new_project') }}'>
        <i class='icon-plus'></i>
        Nuevo Proyecto
        </a> 
        </li>
    {% if current_user.projects|length %}
        {% for project in current_user.projects: %}
        <li id="{{project.name}}"><a href='/user/projects/{{project.name}}'>
            <i class='icon-tag'></i>
            {{project.name}}
            </a> 
            </li>
        {% endfor %}
    {% endif %}
    </a> 
	</li>
</ul>
{% if current_user.is_coordinator() %}
<ul class="nav nav-list">
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
</div>
</div>
{% endblock %}
{% block body %}
{% endblock %}

{% block append_js2 %}
<script>
    $('.active a i').addClass('icon-white');
</script>
{% endblock %}
