{% from 'macros/_misc.html' import render_userlist, render_tasklist %}
{#% set page_title = current_user.name +' '+current_user.surname %#}
{% set page_title = title %}

{% extends "user_index.html" %}

{% block body %}
<div class="btn-toolbar span9 pull-right"> <!--navbar navbar-inner navbar-form -->
        <button id="showhide_done" type="button" class="btn pull-right" data-toggle="buttons-checkbox">Hide done tasks</button>
    </div>
<div class="span6">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    
    <h4>Users</h4> 
<div class="list">
    {% if not project %}
    {{ render_userlist(objects, 'userlist', fields, actions, current_user, '') }}
    {% else %}
    {{ render_userlist(objects, 'userlist', fields, actions, current_user, project.name) }}
    {% endif %}
</div>
</div>
<div class="span3">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    {% if not headers %}
    {% set headers = ''%}
    {% endif %}
    <h4>Timeline</h4> 
<div class="list">
    {% if not project %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, '') }}
    {% else %}
    {{ render_tasklist(timeline, 'timeline', headers, timeline_fields, delete, no_set_delete, timeline_actions, current_user, project.name) }}
    {% endif %}
</div>
</div>
 
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delegar tarea</h3>
  </div>
  <div class="modal-body">
      <p id="tasknametosend"></p>
                <div id="newownerdiv" class="input input-prepend" style="display:inline-block;" >
                    <span class="add-on">@</span>
                    <select class="xlarge" id="newtaskowner" name="name"
                        type="text"></select>
                </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary"
        onClick="setUserToSend($('#newtaskowner').val());return sendTask();" >Send</button>
  </div>
</div>


{% endblock %}

{% block append_js %}
<script>

    $('#users').addClass('active');
    $('#{{ active }}').addClass('active');

/*
    $(".proj_label.label.label-info").append('<a class="label label-info close" style="color:white;float:inherit;opacity:1;padding-top:0;padding-bottom:0;padding-right:2px;">&times;</a>');
    $(".proj_label.label.label-info").hover(function() {
        $(this).append('<a class="label label-info close" style="color:white;float:inherit;opacity:1;padding-top:0;padding-bottom:0;padding-right:2px;">&times;</a>');
        }, function() {
            $(".close").remove();
        });
    */
    $("#showhide_done").button();
    $("#showhide_done").click(function() {
        if ($("#showhide_done").hasClass('active')){
           $('.taskdone').fadeIn();//css('display','inherit');
           //$('.taskdone').show( 'blind', {}, 500, {} );
            //$("#showhide_done").removeClass('active');
        }
        else{
            $('.taskdone').fadeOut();//css('display','none');
           //$('.taskdone').hide( 'blind', {}, 500, {} );
            //$('.taskdone').css('display','none');
            //$("#showhide_done").addClass('active');
        }
        });

    $(".proj_label > .close").live("click", function() {
        var proj_label = $(this).parent();
        var proj_name = proj_label.text();
        proj_name = proj_name.replace('×','');
        var element = proj_label.parent().siblings().first().next();
        var action = 'deluser';
        if (element.hasClass('taskname')){
            action = 'unset'
        }
        url='/user/project/'+proj_name+'/'+action+'/'+element.text()
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        });
    
   // });
    $(function() {
    jQuery("abbr.timeago").timeago();
    $('.launchpopover').popover();
        $( ".project" ).draggable({helper: 'clone'});
        $( ".label" ).draggable();
        $( ".droppable" ).droppable({
            drop: function( event, ui ) {
    var task_id =  $(this).attr('id');
    var indexof_ = task_id.indexOf('_')+1;
    var id = task_id.substr(indexof_, task_id.length);
    var type = task_id.substr(0, indexof_-1);
    var project_name = $(ui.draggable).text().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
    //window.location.href = 
    var action = 'adduser';
    if ( type==="task"){
        action = 'set';
    }
     url='/user/project/'+project_name+'/'+action+'/'+id;

      $.ajax({
          url:url
             }).done(function() { 
                 document.location.reload();
        });
}});
    var contacts ={{ contacts|safe }}; 

    $.each(contacts, function(key, value) {   
     $('#newtaskowner')
          .append($('<option>', { value : key })
          .text(value)); 
    });


    });
    </script>
{% endblock %}
