{#% set page_title = current_user.name +' '+current_user.surname %#}

{% extends "layout.html" %}

{% block menu %}
<div class="span3 usenav usernav" style="margin-top:50px;">	
<div class="span3 bs-nav-sidebar affix" >
<div class="usernav" >
<ul class="nav nav-list bs-docs-sidenav">
<li id="Inbox"> <a href='/user/tasks/inbox'>
        <i class='icon-inbox' style="display:inline-block;"></i>
        {% for project in current_user.projects: %}
        {% if project.name in ['Inbox'] %}
        <div class='project draggable' data-id="{{project.id}}"  style="display:inline-block;">
        Inbox
        </div>
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="Private"><a href='/user/tasks/private'>
        <i class='icon-user' style="display:inline-block;"></i>
        {% for project in current_user.projects: %}
        {% if project.name in ['Private'] %}
        <div class='project draggable' data-id="{{project.id}}" style="display:inline-block;">
        Private
        </div>
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="Public"><a href='/user/tasks/public'>
        <i class='icon-bullhorn' style="display:inline-block;"></i>
        {% for project in current_user.projects: %}
        {% if project.name in ['Public'] %}
        <div class='project draggable' data-id="{{project.id}}" style="display:inline-block;">
        Public
        </div>
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
        {% endif%}
        {% endfor %}
        </a> 
        </li>
        <li id="sent_received"><a href='/user/tasks/sent_received'>
        <i class='icon-retweet' style="display:inline-block;"></i>
        <div class='project draggable' style="display:inline-block;">
        Sent/Received
        </div>
        </a> 
        </li>
        <li id="Done"><a href='/user/tasks/done'>
        <i class='icon-check' style="display:inline-block;"></i>
        <div class='project draggable' style="display:inline-block;">
        Done
        </div>
        </a> 
        </li>
        <li id="new_project" onClick="document.getElementById('newproject').focus();">
        <a>
        <i class='icon-plus' style="display:inline-block;" ></i>
        <span id='newproject' style="display:inline-block; cursor:text; padding:2px 2px 0 0;" 
            contenteditable="true"
           onKeyUp="return _onKeyUp(event, $(this), 
            '/user/project/', true);"  onKeyPress="return _onKeyPress(event, $(this), '/user/project/', true);" 
            onFocus="if($(this).text()=='New Project'){$(this).text('');};$(this).parent().css('background-color', 'white');"
            onBlur="$(this).parent().css('background-color', 'inherit');if($(this).text()==''){$(this).text('New Project');};return _onBlur($(this), 'New Project', true);">New Project</span> 
        <!-- onKeyUp="return _onKeyUp(event, $(this), 
            '/user/project/', true);" onInput="return _onKeyUp(event, $(this), 
            '/user/project/', true);"-->
        </a>
        </li>
    {% if current_user.projects|length %}
    {% for project in current_user.projects: %}
    {% if project.name not in ['Inbox','Private','Public'] %}
    <li id="{{project.name}}"><a href="{{project.name}}" data-id="{{project.id}}"  class='more_projects'>
            <i class='icon-tag' style="display:inline-block;"></i>
            <div class='project proj_name draggable'  data-id="{{project.id}}" style="display:inline-block;">
            {{project.name}}
            </div>
            {% if project.get_undone_tasks() > 0 %}
            <div class='undone draggable badge' style="display:inline-block;">
            {{project.get_undone_tasks()}}
            </div>
            {% endif%}
            <!--a href='/user/tasks/{{project.name}}'>Tasks</a-->
            <!--a href='/user/contacts/{{project.name}}'>People</a-->
            </a>
            </li>
    {% endif %}
        {% endfor %}
    {% endif %}
    </a> 
	</li>
</ul>
{% if current_user.is_coordinator() %}
<ul class="nav nav-list">
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
</div>
</div>
</div>


<div id="modal_comment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myCommentLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myCommentLabel">New Comment</h3>
  </div>
       <!--div id="task_to" class="input input-prepend" style="display:inline-block;" >
           <span class="add-on">@</span>
           <select class="xlarge" id="task_to_owner" name="name"
               type="text"></select>
       </div-->
       <form id="comment_form" class='form-stacked' method="POST" style="margin:0;"
             onsubmit="_onsubmit(event, $(this), 
            $(this).attr('action'));$('#modal_comment').modal('hide');"
           action="/user/comment">
  <div class="modal-body">
        {{ newtaskform.hidden_tag() }}
        {{ newtaskform.next }}
        <fieldset>
             {{ render_input(commentform.content, 'input-xlarge') }}
        </fieldset>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Done</button>
    </form>
  </div>
</div>

{% endblock %}
{% block body %}
{% endblock %}

{% block append_js2 %}
<script async>
   /* $('.active a i').addClass('icon-white'); */
   $('.bs-docs-sidenav').slimScroll({
       height: '236px',
       size: '10px'
    });
    
    $(".more_projects").hover(function() {
        $(this).append('<button class="more_proj close pull-right" style="float:right;display:inline-block;">&times;</button>');
        }, function() {
            $(".more_proj.close").remove();
    });

    $(".more_proj.close").live("click", function(e) {
        e.preventDefault();
        url='/user/projects/del/'+$(this).parent().attr('data-id');
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });

    });
    /*
    $(".proj_label.tasklist > .close").live("click", function() {
        var proj_label = $(this).siblings('.project');
        var proj_name = proj_label.text();
        proj_name=proj_name.replace(/ /g,"").replace(/(\r\n|\n|\r)/gm,"");
        url='/user/projects/del/'+proj_name;
        $.ajax({
            url:url
             }).done(function() { 
                 document.location.reload();
        });
        $(this).parent().remove();
    });
    */
/*
    $('#newproject').keyup(function (event){
        alert(event.keycode);
        alert(e.keycode);
        alert('aqui tampoco llega?');
        return _onKeyUp(e,'/user/project/', true);
    });
*/
    function show()
    {
    alert(editor.innerHTML);
    }

    function checkEnter(event) {
        if (event.keyCode == 13) { 
            event.cancelBubble = true;
            
            return false;
        }
        else return true;
        }

    function _onBlur(node, defaultText, isProject)
    {
       /* if (isProject){
            node.text(defaultText);
        }
        else{
            node.val(defaultText);
        }
        */
        return true;
    }

    function _onKeyDown(event)
    {
        return checkEnter(event);
    }

    function _onsubmit(event, node, url){
        if (event.preventDefault)
            event.preventDefault();
        else
            event.cancel = true;

        sel = "algo"
    
        if (node.children('.newtaskname').length > 0){
            sel = node.children('.newtaskname').val();
        }
        if (sel != '') {
                $.ajax({
                    url:url,
                    type: "POST",
                    data: node.serialize(),
                    success: function(data)
                        {
                          document.location.reload();
                        } 
                });
            return true;
        }
    
    }

    function _onKeyUp(event, node, url, isProject)
    {

            if (event.charCode == 13 || event.keyCode == 13) { 
                var sel = "";
                if (isProject){
                    sel = node.text();
                }
                else{
                    sel = node.val();
                    node.val('');
                }

                sel = decodeURIComponent(sel);
                if (sel != '') {
                    if (isProject){
                    sel=sel.replace(/^\s\s*/, '').replace(/\s\s*$/, '').replace(/ /g,"_");
                $.ajax({
                    url:url+sel
                    }).done(function() { 
                         document.location.reload();
                });
                }
            }
            return true;
             }

            //sel.pasteHTML('<br>'); 
            //sel.moveEnd();
        return true;
    }

    function _onKeyPress(event, node, url, isProject)
    { 
       // return checkEnter(event, node, url, isProject);
        if (!checkEnter(event)){
            return _onKeyUp(event, node, url, isProject)
        }
    }
   /* 
    $('.delcomment').live('click', function(){
        var url = $(this).attr('data-url');
        $("#delcomment_form").attr('action', url);
        $.ajax({
            url:url,
            type: "POST",
            data: $("#delcomment_form").serialize(),
            success: function(data)
                {
                  document.location.reload();
                } 
        });
    });
    */
    function getNumComments(task_id){
        return 
    }


    $('.buttoncomment').live('click', function(){
        var url = $(this).attr('data-url');
        $("#comment_form").attr('action', url);
        $('#modal_comment').modal();
    });
    
    $('.hide-comments').live('click', function(){
        id = $(this).attr('data-id');
        num = $(this).attr('data-num');
        showcomments = '<a class="show-comments" data-num="'+num+'" data-id="'+id+'" data-action="/user/comments/'+id+'.json">Show '+num+' comments</a>';
        
        $('#comments_'+id).empty().append(showcomments);
    });
    
    $('.show-comments').live('click', function(){
        id = $(this).attr('data-id');
        num = $(this).attr('data-num');
        url = $(this).attr('data-action');
        node = $(this).parent();
         $.getJSON(url, function(data) {
             hidecomments = '<a class="hide-comments" style="display:block;" data-num="'+num+'" data-id="'+id+'" data-action="/user/comments/'+id+'.json">Hide '+num+' comments</a>'
            if ($.isEmptyObject(data)) {
                node.empty().append(hidecomments).append('<button class="buttoncomment btn btn-primary" data-url="/user/tasks/comment/'+id+'"><i class="icon-white icon-comment"></i> Comment</button>');
                }
                else{

                var num_comments = 0;


               var comments = jQuery('<div/>', {});
            $.each(data, function(key, val) {
                num_comments ++;
                html = '<div class="comment" style="font-size:10pt; clear:both;">';
                html += '<div class="commenthead" style="display:inline-block">';
                html += '<div class="avatar" style="display:inline-block">';
                html += '<img src="'+val.avatar+'"></img></div>';
                html += '<div class="commentheader" style="display:inline-block">';
                html += '<abbr class="timeago timestamp" style="display:block;padding-left:5px;" title="' + val.created_at + 'Z"></abbr>';
                html += '<div class="name" style="display:block; padding-left: 5px;"><a href="/user/'+val.username+'">' + val.username + '</a> said:</div></div></div>';
                html += '<div class="comment-content" style="padding-left:45px;font-size:8pt;">' + val.content + '</div>';
                html += '<button class="buttoncomment btn btn-small pull-right" data-url="/user/comments/reply/'+val.id+'"><i class="icon-comments"></i> Reply</button>';
                html += '</div><br/>';
                comments.append(html);
            });
                hidecomments = '<a class="hide-comments" style="display:block;" data-num="'+num_comments+'" data-id="'+id+'" data-action="/user/comments/'+id+'.json">Hide '+num_comments+' comments</a>'
               $('#comments_'+id).empty().append(hidecomments).append(comments).append('<button class="buttoncomment btn  btn-primary" data-url="/user/tasks/comment/'+id+'"><i class="icon-white icon-comment"></i> Comment</button>');
                jQuery("abbr.timeago").timeago(); 
                
                }
    
            });

    });


    var task_to_send = '';
    var username_to_send = '';


    function _action(node)
    {
        if (node.attr('title') == "Comment"){
            var id = node.parent().parent().parent().children('.taskid').text();
            var url = '/user/tasks/comment/'+id;
        
            $("#comment_form").attr('action', url)
            $('#modal_comment').modal();
        }
        if (node.attr('title') == "Edit"){
            var id = node.parent().parent().parent().children('.taskid').text();
            var url = '/user/task/'+id+'.json';
            $.getJSON(url, function(data){
                $('#name').val(data.name);
                if (data.description != null){
                    $('#description').val(data.description);
                }
                if (data.deadline != null){
                    $('#deadline').val(data.deadline);
                    $('#deadline').attr('value', data.deadline);
                    $('#deadline').datepicker('update');
                }
                if (data.duration_minutes != null){
                    $('#duration_minutes').val(data.duration_minutes);
                }
                if (data.priority != null){
                    $('#priority').val(data.priority);
                }
                $("#edit_new_form").attr('action', '/user/tasks/edit/'+id)

                /*
            $.each(data, function(key, val) {
                alert(val.name);
                alert(val.description);
            }) ;
            */
            
            });
            $('#modal_new_task').modal();
        }
        if (node.attr('title') == "New Task"){
            $('#name').val('');
            $('#description').val('');
            $('#deadline').val(get_today());
            $('#deadline').datepicker('update');
            $('#duration_minutes').val('30');
            $('#priority').val('0');
            $('#modal_new_task').modal();
            $("#edit_new_form").attr('action', '/user/tasks/new/')
        }
        if (node.attr('title') == "Send"){
            setTaskToSend(node.attr('href'))
            $('#tasknametosend').text(node.parent().parent().parent().children('.taskname').text());
            $('#myModal').modal();
            // node.children().first().removeClass('icon-envelope');
            // node.parent().parent().parent().remove();
         }else{
        url = node.attr('href');
        if (node.attr('title') == "Start"){
             node.children().first().removeClass('icon-play');
             node.children().first().addClass('icon-pause');
         }
        $.ajax({
            url:url
            }).done(function() { 
            if (node.attr('title') == "Delete"){
                node.parent().parent().parent().parent().remove();
            }
            if (node.attr('title') == "Unprop"){
                 document.location.reload();
            }
            if (node.attr('title') == "Prop"){
                 document.location.reload();
            }
            if (node.attr('title') == "Mark done"){
                 document.location.reload();
            }
            if (node.attr('title') == "Unfollow"){
                 document.location.reload();
            }
            if (node.attr('title') == "Follow"){
                 document.location.reload();
             }
        });
        }
        return true;
    }


    function setTaskToSend(id){
        task_to_send = id;
    }

    function setUserToSend(id){
        username_to_send = id;
    }

    function sendTask(){
      $.ajax({
          url:'/user/tasks/send'+task_to_send+'/'+username_to_send
             }).done(function() { 
                 document.location.reload();
        });
    }



</script>
{% endblock %}
