{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Resultados de las encuestas') %}

{% extends 'user_index.html' %}

{% block body %}
<div class='span6'>
    {% for poll in polls %}
    <div id="chart_div{{poll}}"></div>
    {% endfor %}
</div>
{% endblock %}

{% block append_js %}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['corechart']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
      
    function drawChart() {
    {% for poll in polls %}
        var jsonData{{poll}} = $.ajax({
          url: "/user/see_poll_json/{{poll}}",
          dataType:"json",
          async: false
          }).responseText;
      // Create our data table out of JSON data loaded from server.
        var data{{poll}} = new google.visualization.DataTable(jsonData{{poll}});

      // Instantiate and draw our chart, passing in some options.
        var chart{{poll}} = new google.visualization.BarChart(document.getElementById('chart_div{{poll}}'));
        chart{{poll}}.draw(data{{poll}}, {width: 400, height: 240});
    {% endfor %}
    }

    </script>

<script>
    $('#see_polls').addClass('active');
</script>
{% endblock %}
