{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Nueva Universidad') %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/jqtree.css') }}">

{% extends 'layout.html' %}

{% block body %}
<div class='span4' id="tree1"></div>
<div class='span8'>
    <form class='form-stacked' method="POST" action="{{ url_for('admin.new_group') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
       

        <fieldset>
             {{ render_input(form.name, 'xlarge', value=node.name, style="height:18px") }}
             {{ render_input(form.type, 'xlarge') }}
             {{ render_input(form.activation_key, 'xlarge', value=node.activation_key) }}
             {{ render_input(form.choosetype, 'xlarge', value = node.type) }}
             
             {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}

{% block append_js %}
<script async src="{{ url_for('static', filename='js/libs/tree.jquery.js') }}"></script>
<script async src="{{ url_for('static', filename='js/libs/bootstrap-typeahead.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var types = $.getJSON('/admin/grouptypes', function(data) {
            var types_array = [];
            for (var key in data) {
                types_array.push(data[key]);
            }
            $('#choosetype').attr('data-provide', 'typeahead');
            $('#choosetype').typeahead({
                'source': types_array
            });
        });
        $.getJSON('/admin/groups', function(data) {
            var data_array = [];
            for (var key in data) {
                data_array.push(data[key]);
            }
            $('#tree1').tree({
                selectable: true,
                data: data_array
            });
            // bind 'tree.click' event
           $('#tree1').bind('tree.click', function(event) {
                // The clicked node is 'event.node'
                var node = event.node;
                alert(node.name);
                //TODO: set parent hidden value to node.name
            });
        });
        //var node = $tree.tree('getselectednode');
    });
</script>
{% endblock %}

