{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Nueva Universidad') %}

{% extends 'user_index.html' %}

{% block append_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jqtree.css') }}">
{% endblock %}


{% block body %}
<div class='span5 well' id="tree1"></div>
<div class='span3'>
    <form class='form-stacked' method="POST" action="{{ url_for('admin.new_group') }}" autocomplete="off">
        {{ form.hidden_tag() }}
        {{ form.group_id }}
        {{ form.next }}
        {{ form.parent }}
       

        <fieldset>
             {{ render_input(form.choosetype, 'xlarge', value = node.type, style="height:28px") }}
             {{ render_input(form.name, 'xlarge', value=node.name, style="height:28px") }}
             {{ render_input(form.activation_key, 'xlarge', value=node.activation_key, style="height:28px") }}
             
             {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}

{% block append_js %}
<script src="{{ url_for('static', filename='js/libs/jquery.url.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/tree.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-typeahead.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
            var group_id = $.url().param('uni'); 
            $('#group_id').val(group_id);
            var types = $.getJSON('/admin/grouptypes', function(data) {
            var types_array = [];
            for (var key in data) {
                types_array.push(data[key]);
            }
            $('#choosetype').attr('data-provide', 'typeahead');
            $('#choosetype').typeahead({
                'source': types_array
            });
        });
        $.getJSON('/admin/groups', function(data) {
            var data_array = [];
            for (var key in data) {
                data_array.push(data[key]);
            }
            $('#tree1').tree({
                selectable: true,
                data: data_array
            });
            $('#tree1').bind('tree.contextmenu', function(event) {
                 // The clicked node is 'event.node'
                 var node = event.node;
                 window.location = '/admin/new_group?uni='+node.id
             }
            );
            // bind 'tree.click' event
           $('#tree1').bind('tree.click', function(event) {
                // The clicked node is 'event.node'
                var node = event.node;
                //alert(node.id);
                //TODO: set parent hidden value to node.name
                $('#parent').val(node.id)
            });
        });
        //var node = $tree.tree('getselectednode');
    });
$('#group_new').addClass('active');
</script>
{% endblock %}

