{% from "macros/_misc.html" import render_textarea ,render_input, render_action %}
{% set page_title = 'Editar '+page.name %}

<!-- wysihtml5 parser rules -->


<style type="text/css" media="screen">
	.btn.jumbo {
		font-size: 20px;
		font-weight: normal;
		padding: 14px 24px;
		margin-right: 10px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
</style>

{% extends "user_index.html" %}

{% block body %}
<div class="span8">	

<form class='form-stacked' method="POST" action="{{ url_for('admin.edit_page',id=page.id) }}">
          {{ render_input( form.textarea, nolabel=True, cls='textarea', value=page.content|safe, style="width:610px; height:200px", placeholder=page.content|safe) }}
          {{ render_action(form.submit) }}
</form>
</div>	

{% endblock %}
{% block append_js %}
<script type="text/javascript">
$(document).ready(function() {
  // Handler for .ready() called.
        $('.textarea').wysihtml5();
});
$('#process_edit').addClass('active');
</script>
{% endblock%}
