{% from 'macros/_misc.html' import render_table %}
{#% set page_title = current_user.name +' '+current_user.surname %#}
{% set page_title = title %}

{% extends "layout.html" %}

{% block body %}
<div class="span8">
    {% if not fields %}
    {% set fields = ''%}
    {% endif %}
    {% if not delete %}
    {% set delete = ''%}
    {% endif %}
    
    {{ render_table(objects,'table-bordered table-striped', fields, delete) }}
</div>
{% endblock %}

{% block append_js %}
<script>
    $('#index').addClass('active');
</script>
{% endblock %}
