{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = 'Pasos para hacerte la orla' %}

{% extends "layout.html" %}

{% block body %}
<div class="span6">	
{{ proceso|safe }}
</div>	
{% if form %}
{% set page_title = 'Registrate para hacerte la orla' %}
<div class='span6'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.signup') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <legend>Ya tienes cuenta? <a href="{{ url_for('frontend.login') }}">Entra</a> por favor.</legend>
            {{ render_input(form.code, 'xlarge') }}
            {{ render_input(form.name, 'xlarge') }}
            {{ render_input(form.surname, 'xlarge') }}
            {{ render_input(form.email, 'xlarge') }}
            {{ render_input(form.password, 'xlarge') }}
            {{ render_input(form.password_again, 'xlarge') }}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endif %}
{% endblock %}

