{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Edita la sesion') %}

{% extends 'layout.html' %}

{% block body %}
<div class='span12'>
    <form class='form-stacked' method="POST" action="{{ url_for('session.new_session_post') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <!--legend>Already have account? <a href="{{ url_for('frontend.login') }}">Login</a> please.</legend-->
            
            {{ render_input(form.begin, 'xlarge') }}
            {{ render_input(form.end, 'xlarge') }}
            {{ render_input(form.block_duration, 'xlarge') }}
            {{ render_input(form.block_capacity, 'xlarge') }}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}

