{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Registrarse en E.F. Digital Orlas') %}

{% extends 'layout.html' %}

{% block body %}
<div class='span12'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.signup') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <legend>Ya tienes cuenta? <a href="{{ url_for('frontend.login') }}">Entra</a> por favor.</legend>
            {{ render_input(form.code, 'xlarge') }}
            {{ render_input(form.name, 'xlarge') }}
            {{ render_input(form.surname, 'xlarge') }}
            {{ render_input(form.email, 'xlarge') }}
            {{ render_input(form.password, 'xlarge') }}
            {{ render_input(form.password_again, 'xlarge') }}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}

{% block append_js %}
<script  src="{{ url_for('static', filename='js/libs/mailcheck.min.js') }}"></script>
<script>
    $('#signup').addClass('active');
</script>

<script>
function changeEmail(suggestion){
        $('#email').val(suggestion);
  $('#email').next().text('');// callback code
}
/*var domains = ['hotmail.com', 'gmail.com', 'aol.com'];
var topLevelDomains = ["com", "net", "org"];

var superStringDistance = function(string1, string2) {
  // a string distance algorithm of your choosing
}
*/
$('#email').on('blur', function() {
  $('#email').next().text('');// callback code
  $(this).mailcheck({
    suggested: function(element, suggestion) {
       if (suggestion){
        var ayudita = $('#email').next();
        $('<p>Quiso decir <a href="javascript:void(0)" onclick="changeEmail(\''+suggestion.full+'\');">'+suggestion.full+'</a>?</p>').appendTo(ayudita)
        }
    },
    empty: function(element) {
      // callback code
    }
  });
});

</script>
{% endblock %}
