{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Escoge cita para hacerte la foto') %}

{% extends 'layout.html' %}

{% if sessions_txt %}

{% block append_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.8.16.custom.css') }}">
{% endblock %}

{% block append_js %}
<script src="{{ url_for('static', filename='js/libs/jquery-ui-1.8.16.custom.min.js') }}"></script>


<script>
    $(function() {
        var txtdates = {{sessions_txt|safe}};
        var dates = txtdates.map(function(d) {
            var date = new Date(d);
            return date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
        });
        $('#datepicker').datepicker({
            beforeShowDay: function(date) {
                //var time = date.getTime();
                var txtdate = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
                return [(txtdate in dates)];
            }
        });
    });
</script>
{% endblock %}
{% endif %}

{% block body %}


{% if sessions_txt %}


<p>Date: <input type="text" id="datepicker"></p>


{% elif hours %}

<div class='span12'>
    <form class='form-stacked' method="POST" action="{{ url_for('user.new_appointment_post') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        
        {% for hour in hours %}
        
            <!--FIXME-->
        
            {{ render_input(form.hour, 'xlarge', value=hour[0]) }}
        
        {% endfor %}
        
        {{ render_action(form.submit) }}
        
    </form>
</div>

{% endif %}

{% endblock %}
