{% set page_title = current_user.name +' '+current_user.surname %}

{% extends "layout.html" %}

{% block body %}
<div class="span6">	
{% if current_user.is_admin() %}
<ul>
	<li><a href='{{ url_for('admin.new_group') }}'>Nueva Universidad</a> 
	</li>
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
    <li><a href='{{ url_for('session.new_session') }}'>Editar Proceso</a> 
	</li>
</ul>
{% else %}
<ul>
	<li><a href='{{ url_for('user.edit_datos') }}'>Editar Datos Personales</a> 
	</li>
</ul>
{% if current_user.is_coordinator() %}
<ul>
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
{% endif %}	
</div>
{% endblock %}
