{#% set page_title = current_user.name +' '+current_user.surname %#}

{% extends "layout.html" %}

{% block menu %}
<div class="span3">	
{% if current_user.is_admin() %}
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
    <li class='nav-header'>
    <i class='icon-user'></i>
    Usuarios
    </li>
    <li id='user_list'><a href='{{ url_for('user.list') }}'>
    <i class='icon-list'></i>
    Lista de usuarios
    </a>
    </li>
    <li class="divider"></li>
    <li class='nav-header'>
    <i class='icon-th'></i>
    Grupos</li>
	<li id='group_new'><a href='{{ url_for('admin.new_group') }}'>
    <i class='icon-plus'></i>
    Nuevo grupo</a></li>
<li id='group_list'><a href='{{ url_for('admin.group_list') }}'>
    <i class='icon-list'></i>
    Lista de grupos</a></li>
    <li class="divider"></li>
    <li class='nav-header'>
    <i class='icon-briefcase'></i>
    Proyectos</li>
    <li id='project_new'><a href='{{ url_for('admin.new_project') }}'>
    <i class='icon-plus'></i>
    Nuevo proyecto</a></li>
<li id='project_list'><a href='{{ url_for('admin.project_list') }}'>
    <i class='icon-list'></i>
    Lista de proyectos</a></li>
    <li class="divider"></li>
<li class='nav-header'>
    <i class='icon-camera'></i>
Sesiones Fotográficas</li>
    <li id='session_new'><a href='{{ url_for('session.new_session') }}'>
    <i class='icon-plus'></i>
    Nueva sesión fotográfica</a></li>
<li id='session_list'><a href='{{ url_for('session.index') }}'>
    <i class='icon-list'></i>
    Lista de sesiones</a></li>
<li id='session_set'><a href='{{ url_for('admin.set_session') }}'>
    <i class='icon-random'></i>
    Asignar a proyectos</a></li>
    <li class="divider"></li>
<li class='nav-header'>
    <i class='icon-shopping-cart'></i>
Ofertas</li>
    <li id='offer_new'><a href='{{ url_for('admin.new_offer') }}'>
    <i class='icon-plus'></i>
    Nueva oferta</a></li>
    <li id='offer_list'><a href='{{ url_for('admin.offer_list') }}'>
    <i class='icon-list'></i>
    Lista de ofertas</a></li>
<li id='offer_set'><a href='{{ url_for('admin.set_offer') }}'>
    <i class='icon-random'></i>
    Asignar a proyectos</a></li>
    <li class="divider"></li>
    <li class='nav-header'>
    <i class='icon-asterisk'></i>
    Otros</li>
    <li id='page_list'><a href='{{ url_for('admin.page_list') }}'>
    <i class='icon-list'></i>
        Lista de páginas</a></li>
    <li id='new_act'><a href='{{ url_for('admin.new_act') }}'>
    <i class='icon-hdd'></i>
        Nuevo acto de graduación</a></li>
</ul>
{% else %}
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
    <li id="edit_data"><a href='{{ url_for('user.edit_datos') }}'>
    <i class='icon-user'></i>
    Datos Personales
    {% if not current_user.projects[-1].children|length %}
    <span class="badge badge-success">
   <i class="icon-ok icon-white"></i> 
    </span>
    </a> 
	</li>
    {% if current_user.projects[-1].sessions|length %}
    <li id="select_date"><a href='{{ url_for('user.new_appointment_get') }}'>
    <i class='icon-calendar'></i>
    Elige Cita Fotográfica
    {% if not current_user.appointments|length %}
    <span class="badge badge-important">
   <i class="icon-bell icon-white"></i> 
    </span>
    {% else %}
    <span class="badge badge-success">
   <i class="icon-ok icon-white"></i> 
    </span>
    {% endif %}
    </a> 
	</li>
    {% endif %}
    {% if current_user.projects[-1].offers|length %}
    <li id="select_offer"><a href='{{ url_for('user.set_offer') }}'>
    <i class='icon-shopping-cart'></i>
    Seleccionar Oferta
    {% if not current_user.offer_selection|length %}
    <span class="badge badge-important">
   <i class="icon-bell icon-white"></i> 
    </span>
    {% else %}
    {% if current_user.offer_selection|length %}
    <span class="badge badge-success">
   <i class="icon-ok icon-white"></i> 
    </span>
    {% endif %}
    {% endif %}
    </a> 
	</li>
    {% endif %}
    {% else %}
    </a> 
	</li>
    {% endif %}
</ul>
{% if current_user.is_coordinator() %}
<ul class="nav nav-list">
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
{% endif %}	
</div>
</div>
{% endblock %}
{% block body %}
{% endblock %}

{% block append_js2 %}
<script>
    $('.active a i').addClass('icon-white');
</script>
{% endblock %}
