{#% set page_title = current_user.name +' '+current_user.surname %#}

{% extends "layout.html" %}

{% block menu %}
<div class="span3">	
{% if current_user.is_admin() %}
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
    <li class='nav-header'>Usuarios
    </li>
    <li id='user_list'><a href='{{ url_for('user.list') }}'>
    <i class='icon-list'></i>
    Lista de usuarios
    </a>
    </li>
    <li class='nav-header'>Grupos</li>
	<li id='group_new'><a href='{{ url_for('admin.new_group') }}'>
    <i class='icon-plus'></i>
    Nuevo grupo</a></li>
<li id='group_list'><a href='{{ url_for('admin.group_list') }}'>
    <i class='icon-list'></i>
    Lista de grupos</a></li>
    <li class='nav-header'>Proyectos</li>
    <li id='project_new'><a href='{{ url_for('admin.new_project') }}'>
    <i class='icon-plus'></i>
    Nuevo proyecto</a></li>
<li id='project_list'><a href='{{ url_for('admin.project_list') }}'>
    <i class='icon-list'></i>
    Lista de proyectos</a></li>
    <li class='nav-header'>Sesiones Fotográficas</li>
    <li id='session_new'><a href='{{ url_for('session.new_session') }}'>
    <i class='icon-plus'></i>
    Nueva sesión fotográfica</a></li>
<li id='session_list'><a href='{{ url_for('session.index') }}'>
    <i class='icon-list'></i>
    Lista de sesiones</a></li>
<li id='session_set'><a href='{{ url_for('admin.set_session') }}'>
    <i class='icon-random'></i>
    Asignar proyectos a sesiones</a></li>
    <li class='nav-header'>Otros</li>
    <li id='process_edit'><a href='{{ url_for('admin.edit_proceso') }}'>
    <i class='icon-pencil'></i>
        Editar página de proceso</a></li>
</ul>
{% else %}
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
    <li id="edit_data"><a href='{{ url_for('user.edit_datos') }}'>
    <i class='icon-user'></i>
        Editar Datos Personales</a> 
	</li>
    <li id="select_date"><a href='{{ url_for('user.new_appointment_get') }}'>
    <i class='icon-calendar'></i>
        Seleccionar Cita Fotográfica</a> 
	</li>
</ul>
{% if current_user.is_coordinator() %}
<ul class="nav nav-list">
	<li><a href='{{ url_for('frontend.edit_proceso') }}'>Editar Proceso</a> 
	</li>
</ul>
{% endif %}	
{% endif %}	
</div>
</div>
{% endblock %}
{% block body %}
{% endblock %}

{% block append_js %}
<script>
    $('#index').addClass('active');
</script>
{% endblock %}
