{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Escoge cita para hacerte la foto') %}

{% extends 'layout.html' %}

{% block append_js %}

<!--
{% if sessions %}

<div class="span3 well">
<ul>
    <p>{{ sessions_txt }}</p>
    {% for session in sessions %}
    
    <li> <a href="{{ url_for('user.new_appointment_get') }}?session_id={{ session.id }}">{{loop.length}} {{ session.begin }}</a> </li>
    
    {% endfor %}
-->

{% if sessions_txt %}

<p>Date: <input type="text" id="datepicker"></p>

<script>
    $(function() {
        var dates = {{sessions_txt}}.map(function(d) {
            return Date(d).getTime();
        });
        $('#datepicker').datepicker({
            beforeShowDay: function(date) {
                return [(date.getTime() in dates)];
            }
        });
    });
</script>

{% elif hours %}

<div class='span12'>
    <form class='form-stacked' method="POST" action="{{ url_for('user.new_appointment_post') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        
        {% for hour in hours %}
        
            <!--FIXME-->
        
            {{ render_input(p, 'xlarge', value=hour[0]) }}
        
        {% endfor %}
        
        {{ render_action(form.submit) }}
        
    </form>
</div>

{% endif %}

{% endblock %}
