{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Escoge Oferta') %}

{% extends 'user_index.html' %}

{% block append_css %}
<style type='text/css'>
    .labeled.focused
    {
        background-color: #EEEEEE;
        font-style: italic;
    }
</style>
{% endblock %}

{% block append_js %}
<script type='text/javascript'>

    function updateSelectedStyle() {
        $(':radio').removeClass('focused').next().removeClass('focused');
        $(':radio:checked').addClass('focused').next().addClass('focused');
    }

    $("label").css({'display': 'inline'});
    $('#select_offer').addClass('active');
    
    var base_url = '/admin/offers/';
    
    function retrieve(id) {
        
        var url = base_url;
        
        if (arguments.length > 0) // We need to ask for an specific ID
        url += String(id);
        else
        url += 'type/'+String({{form.type.data}})
        
        $.getJSON(url, function(data) {
        
            if ($.isEmptyObject(data)) {
                //$('form').submit();
                $(':radio.clickable#'+String(id)).next().addClass('focused')
                return;
            }
        
        $('.input').empty().append('<div class="thumbnails"><ul></ul></div>');
    
            var lst = $('.thumbnails ul');
            
            $.each(data, function(key, val) {
                lst.append('<li class="input" style="display:inline-block; padding-right:20px; padding-bottom:20px;"><input class="clickable" type="radio" name="options" style="display:none" id="' + key + '" value=' + key + '>' +
                    '<label class="labeled" for="' + key + '" style="display:inline-block; max-width:190px"><div class="thumbnail"><img style="width:190px" src=' + val.img + '> <div class="name"><h3>' + val.name + '</h3> </div><div class="price"><b>' + val.price + ' € (IVA no incluido)</b></div><hr style="margin:10px 0;"/><div class="description" style="margin-bottom:10px;"> ' + val.description + '</div></div></label></li>');
            });
            
        });
        
    }
    
    $(function() {
    
        $(':radio').live('click', function() {
            var id = $(this).val();
            retrieve(id);
        });
        
        retrieve();
        
    });
    
</script>
{% endblock %}

{% block body %}


<div class='span9'>
    <form class='form-stacked' method="POST" action="{{ url_for('user.set_offer', type_id=form.type.data) }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        
        <div class="input">
        </div>

        {{ render_action(form.submit) }}
        
    </form>
</div>


{% endblock %}
